@model  SitefinityWebApp.Mvc.Models.IAFCHandBookMyHandBookModel

<div class="handbook__title">
	@if (Model.SharedUser != null && Model.SharedUser != string.Empty)
	{
		<h1>@Model.SharedUser HANDBOOK</h1>
	}
	else
	{
		<h1>My A-RIT</h1>
	}	
</div>
<div class="handbook_container">
	<div class="handboox_subcontainer">
	@foreach (var myHandBookResource in Model.MyHandBookResurces)
	{
		<div class="progressindicator__wrapper">
			<div class="progressindicator__wrapper-col">
				<div class="progressindicator__label"><div class="time">@myHandBookResource.CompletedResourcesAmount</div> Complete</div>
				<div class="progressindicator__label"><div class="time">@myHandBookResource.IncompletedResourcesAmount</div> Incomplete</div>
				<div class="progressindicator__label"><div class="time">@myHandBookResource.TotalDuration.ToString()</div> Time Remaining</div>
			</div>
			<div class="progressindicator_share">
					@if (Model.SharedUserId == Guid.Empty)
					{
						<div id="shareBtn" class="addthis_inline_share_toolbox_n7k8">
							<a class="addthis_button_compact">
								<i class="anticon anticon-share-alt"></i>
								<span>Share</span>
							</a>

						</div>
					}
			</div>
		</div>
		<div class="handbook_category__wrapper">
			@foreach (var categories in myHandBookResource.MyChildHandBookResources)
			{
				<div class="handbook_category__item">
					<div class="handbook_category__item__image @categories.Category.CategoryTitle">
						<a href="@categories.Category.MyHandBookCategoryUrl">
							<h3>@categories.Category.CategoryTitle</h3>
						</a>
						
						<img src="@categories.Category.ChildCategories.First().CategorySvg" alt="@categories.Category.ChildCategories.First().CategoryAlt">

						<div class="handbook_category__item__time">
							<div><span>@categories.Category.MyHandBookCompletedResources</span> Complete</div>
							<div><span>@categories.Category.MyHandBookInCompletedResources</span> Incomplete</div>
							<div><span>@categories.Category.TotalDuration.ToString()</span> Time Remaining</div>
						</div>
						<!--<div>@categories.Category.CategoryDescription</div>-->

					</div>
					<div class="handbook_category__item__links @categories.Category.CategoryTitle">
						@foreach (var childCategoryItem in categories.Category.ChildCategories)
						{
							<a href="@childCategoryItem.MyHandBookCategoryUrl"> @childCategoryItem.CategoryTitle</a>
						}
					</div>
				</div>
			}
		</div>
	}
</div>
</div>

<script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b8d31d05878dee2"></script>
<script>


	$(document).ready(function () {
		doShareUrl();
	});

	function doShareUrl() {

		var url = window.location.href;
		$.ajax({
			async: true,
			type: 'POST',
			cache: false,
			url: '@Url.Action("Share", "IAFCHBMyHandBook")',
			data: { url: url },
			dataType: "json",
			success: function (response) {
                 window.addthis_share = {
                    url: response,
                    title: 'International Association of Fire Chiefs',
                    description: '@Model.SharedUser HANDBOOK',
                    media: 'https://1.bp.blogspot.com/-_0JXDpvIF1U/WaxcVIT7HxI/AAAAAAAAAnM/gSfCaKXo79ACEHN2LiERWPUV4nSGyYcsACLcBGAs/s1600/4_fraktal3608ab310dc594c738706a02f4962899f.jpg'
                };
			}
		});
	}


</script>
