@model  SitefinityWebApp.Mvc.Models.IAFCHandBookMyHandBookModel
<p>MY HANDBOOK</p>
<div>@Model.CompletedResourcesAmount Complete</div>
<div>@Model.IncompletedResourcesAmount Incomplete</div>
<div>@Model.TotalDuration.ToString() Time Remaining</div>
<table>
	<tr>
		@foreach(var categories in Model.MayHandBookCategories)
		{
			<th>
				<a href="@categories.MyHandBookCategoryUrl"> @categories.CategoryTitle</a>
				<img src="@categories.TopicCategoryImageUrl" title="@categories.CategoryTitle" alt="@categories.CategoryTitle" style="height:100; width:200" />
				<div>@categories.MyHandBookCompletedResources Complete</div>
				<div>@categories.MyHandBookInCompletedResources Incomplete</div>
				<div>@categories.TotalDuration.ToString() Time Remaining</div>
				@categories.CategoryDescription;
				@foreach (var childCategoryItem in categories.ChildCategories)
				{
				<p>
					<a href="@childCategoryItem.MyHandBookCategoryUrl"> @childCategoryItem.CategoryTitle</a>
				</p>
				 }
			</th>	
		}
	</tr>
</table>