@model  SitefinityWebApp.Mvc.Models.IAFCHandBookSearchedResourcesModel

@{string selectedOrderBy = String.Empty; }
@{string currentCategry = String.Empty; }
@{bool isSectionOpen = false; }
@{var emptyDuration = new TimeSpan(0, 0, 0);}
<div class="community__head-btn-select">
	<select class="community__category-select" id="orderByList" onchange="doOrderBy()">
		@foreach (var orderByItem in Model.OrderBy)
		{
			if (orderByItem.Selected)
			{
				<option value="@orderByItem.Title" selected>@orderByItem.Title</option>
				{ selectedOrderBy = orderByItem.Title; }
			}
			else
			{
				<option value="@orderByItem.Title"> @orderByItem.Title </option>
			}
		}
	</select>
</div>

<div>
	@if (selectedOrderBy != "By Topic")
	{
		@:<section class="complete__resources_slides">
		}

	@foreach (var item in Model.Resources)
	{
		if (selectedOrderBy == "By Topic")
		{
			if (currentCategry != item.ResourceDetails.Category.CategoryTitle)
			{
				if (isSectionOpen == true)
				{
				@:</section>
			}
			isSectionOpen = true;
			@:<section class="complete__resources_slides">
				<div class="topic__subtitle">@item.ResourceDetails.Category.CategoryTitle </div>
			}
		}
		<div class="resources__slide complete__resources_slide">
			<div class="resources__community-img img-container-js">
				@if (item.ResourceDetails.ImageUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
				{
					<img src='@item.ResourceDetails.ImageUrl' />
				}
				else
				{
					<div class="resources-placeholder">
						<div class="placehoolder-background">
							<img src="@item.ResourceDetails.ImagePlaceholderUrl">
						</div>
						@if (item.ResourceDetails.ImageSvgUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
						{
							<div class="placeholder-type">
								<img src="@item.ResourceDetails.ImageSvgUrl" alt="">
							</div>
						}
					</div>
				}
				@if (item.ResourceDetails.Duration != emptyDuration)
				{
					<div class="resources__slide-time">
						<div class="resources--time">&nbsp;</div>
						@item.ResourceDetails.Duration
					</div>
				}
			</div>
			<div class="complete__resources_slide-info">
				<div class="resources__slide-box">
					<p class="resources__slide-article"> @item.ResourceDetails.ResourceType</p>
					<button type="button" class="resourceLink"
							data-id="@item.ResourceUrl"
							data-id1="@item.ResourceDetails.ResourceLink"
							data-id2="@item.ResourceDetails.ResourceDocument">
						<h6 class="resources__slide-title">@item.ResourceDetails.ResourceTitle</h6>
					</button>
					<p class="resources__slide-desc">@Html.Raw(item.ResourceDetails.ResourceSummary)</p>
				</div>
				<div class="resources__slide-footer">
					@if (item.IsUserAuthorized)
					{
						if (item.IsResourceCompleted)
						{
							<div class="completedResource">
								<div class="complete_box anticon anticon-check"></div>Complete
							</div>
						}
						else if (item.IsResourceAddedToMyHandBook && !item.IsResourceCompleted)
						{
							<div class="resources__slide-btn" id="@string.Format("{0}_{1}", "markAsComplete", item.Id.ToString())">
								<div class="markAsCompleteResource">
									<button type="button" class="markAsCompleteBtn complete_btn" data-id="@item.Id.ToString()" data-id2="@item.ResourceDetails.Category.Id"><div class="complete_box"></div>Mark As Complete</button>
								</div>
							</div>
						}
						else if (!item.IsResourceAddedToMyHandBook)
						{
							<div class="resources__slide-btn" id="@string.Format("{0}_{1}", "addToMyHandBook", item.Id.ToString())">
								<div class="addToMyHandBook">
									<button type="button" class="addToMyHandBookBtn resources__slide-btn" data-id="@item.Id.ToString()"><span class="resources--plus anticon anticon-plus"></span> Add to MyHandBook </button>
								</div>
							</div>
						}
					}
					<div class="resources-single__left_post_comment_header_right">
						<a href="@item.ResourceUrl" class="single-post-comments"><i class="material-icons">chat_bubble_outline</i><span>@item.CommentsAmount</span></a>
						<div class="single-post-statistic">
							<button type="button" id="@string.Format("{0}_{1}","resourceLikesBtn", item.Id.ToString())"
									class="addLike anticon anticon-like-o" data-id="@item.Id.ToString()" data-id1="@item.Likes.Likes"
									@((!item.IsUserAuthorized || item.Likes.IsResourceLiked)? "disabled='disabled'" : "")>
								<div id="@string.Format("{0}_{1}", "resourceLikes", item.Id.ToString())">
									<span>@item.Likes.Likes</span>
								</div>
							</button>
							<button type="button" id="@string.Format("{0}_{1}","resourceDisLikesBtn", item.Id.ToString())"
									class="addDislike anticon anticon-dislike-o" data-id="@item.Id.ToString()" data-id1="@item.Likes.Dislikes"
									@((!item.IsUserAuthorized || item.Likes.IsResourceLiked)? "disabled='disabled'" : "")>
								<div id="@string.Format("{0}_{1}", "resourceDislikes", item.Id.ToString())">
									<span>@item.Likes.Dislikes</span>
								</div>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		{ currentCategry = item.ResourceDetails.Category.CategoryTitle; }
	}

	@if (selectedOrderBy != "By Topic")
	{
	@:</section>
}
</div>

