@model  SitefinityWebApp.Mvc.Models.IAFCHandBookSearchedResourcesModel

<div class="search-results box">
	<div class="breadcrumbs">Search</div>
	<div class="handbook-title">
		<h1> Search Results For "<span id="searchTextVal">@Model.SearchText</span>"</h1>
	</div>

	<div id="detailsViewID">
		@Html.Partial("_SearchResultsDetails", Model)
	</div>
</div>

<script>
	$(document).ready(function () {

		bindEdit();
	});

	function bindEdit() {

		//Add Like
		$('.addLike').click(function () {
			var resourceId = $(this).attr('data-id');
			$("#resourceLikesBtn_" + resourceId).attr('disabled', 'disabled');
			$("#resourceDisLikesBtn_" + resourceId).attr('disabled', 'disabled');			
			var likesAmmount = $(this).attr('data-id1');
			$("#resourceLikes_" + resourceId).html(parseInt(likesAmmount) + 1);

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddLike", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId }
			});
		});

		//Add Dislike
		$('.addDislike').click(function () {
			var resourceId = $(this).attr('data-id');
			$("#resourceLikesBtn_" + resourceId).attr('disabled', 'disabled');
			$("#resourceDisLikesBtn_" + resourceId).attr('disabled', 'disabled');			
			var disLikesAmmount = $(this).attr('data-id1');
			$("#resourceDislikes_" + resourceId).html(parseInt(disLikesAmmount) + 1);

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddDislike", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId }
			});
		});

		//Add ToMyHandBook
		$('.addToMyHandBookBtn').click(function () {

			var resourceId = $(this).attr('data-id');
			var orderBy = $('#orderByList').val();
			var searchText = document.getElementById("searchTextVal").innerText;
			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddToMyHandBook", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId, searchText: searchText, orderBy: orderBy},				
				success: function (response) {										
					$("#detailsViewID").html(response);
					bindEdit();			
				}
			});
		});

		//mark As Complete
		$('.markAsCompleteBtn').click(function ()  {

			var resourceId = $(this).attr('data-id');			

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("MarkAsComplete", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {					
					if (response == true) {
						$('#markAsComplete_' + resourceId).html('<div class="complete_box anticon anticon-check"></div>Complete');
					}
				}
			});			
		});

		//Open Resource Details
		$('.resourceLink').click(function () {
			var resourceUrl = $(this).attr("data-id");
			var resourceLinkUrl = $(this).attr('data-id1');
			var resourceDocumentUrl = $(this).attr('data-id2');

			window.location.href = resourceUrl;

			if (resourceLinkUrl != 'undefined' && resourceLinkUrl != "") {
				window.open(resourceLinkUrl);
			}
			if (resourceDocumentUrl != 'undefined' && resourceDocumentUrl != "") {
				window.open(resourceDocumentUrl);
			}
		});

	}

	function doOrderBy() {
		var orderBy = $('#orderByList').val();
		var searchText = document.getElementById("searchTextVal").innerText;

		$.ajax({
			type: 'POST',
			cache: false,
			url: '@Url.Action("OrderBy", "IAFCHBSearchResultsController")',
			data: { searchText: searchText, orderBy: orderBy  },
			success: function (response) {
				$("#detailsViewID").html(response);
				bindEdit();
			}
		});
	}

</script>