@model  SitefinityWebApp.Mvc.Models.IAFCHandBookSearchedResourcesModel

<div class="search-results box">
	<div class="breadcrumbs">Search</div>
	@if (Model.Resources.Any())
	{
	<div class="handbook-title">
		<h1> Search Results For "<span id="searchTextVal">@Model.SearchText</span>"</h1>
	</div>
	}
	else
	{
	<div class="handbook-title">
		<h1>No results for "<span id="searchTextVal">@Model.SearchText</span>"</h1>
	</div>
	}

	<div id="detailsViewID">
		@Html.Partial("_SearchResultsDetails", Model)
	</div>
</div>

<script>
	$(document).ready(function () {

		bindEdit();
	});

	function bindEdit() {

		//Add Like
		$('.addLike').click(function () {
			var likeAddAmount = 0;
			var dislikeAddAmount = 0;
			var resourceId = $(this).attr('data-id');
			$("#resourceLikesBtn_" + resourceId).prop('disabled', true);
			$("#resourceDisLikesBtn_" + resourceId).prop('disabled', true);
			var isResourceLiked = $(this).attr('data-id2');
			var isResourceDisliked = $(this).attr('data-id3');
			if (isResourceDisliked == "disliked") {
				if (isResourceLiked == "liked") {
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
				}
				else {
					likeAddAmount = 1;
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
				}
			}
			else {
				if (isResourceLiked == "liked") {
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
				}
				else {
					likeAddAmount = 1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "liked");
				}
			}

			var likesAmmount = $(this).attr('data-id1');
			var dislikesAmmount = $("#resourceDisLikesBtn_" + resourceId).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddAmount;
			var newDisLikeResult = parseInt(dislikesAmmount) + dislikeAddAmount;
			$("#resourceLikes_" + resourceId).html(newLikeResult);
			$("#resourceDislikes_" + resourceId).html(newDisLikeResult);
			likesAmmount = $(this).attr('data-id1', newLikeResult);
			dislikesAmmount = $("#resourceDisLikesBtn_" + resourceId).attr('data-id1', newDisLikeResult);

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddLike", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId, likeAddAmount: parseInt(likeAddAmount), dislikeAddAmount: parseInt(dislikeAddAmount) },
				dataType: "json",
				success: function (response) {
					$("#resourceLikesBtn_" + resourceId).prop('disabled', false);
					$("#resourceDisLikesBtn_" + resourceId).prop('disabled', false);
				}
			});
		});

		//Add Dislike
		$('.addDislike').click(function () {
			var likeAddAmount = 0;
			var dislikeAddAmount = 0;
			var resourceId = $(this).attr('data-id');
			$("#resourceLikesBtn_" + resourceId).prop('disabled', true);
			$("#resourceDisLikesBtn_" + resourceId).prop('disabled', true);
			var isResourceLiked = $(this).attr('data-id2');
			var isResourceDisliked = $(this).attr('data-id3');
			if (isResourceLiked == "liked") {
				if (isResourceDisliked == "disliked") {
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
				}
				else {
					dislikeAddAmount = 1;
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "disliked");
				}
			}
			else {
				if (isResourceDisliked == "disliked") {
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");

				}
				else {
					dislikeAddAmount = 1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "disliked");

				}
			}

			var dislikesAmmount = $(this).attr('data-id1');
			var likesAmmount = $("#resourceLikesBtn_" + resourceId).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddAmount;
			var newDisLikeResult = parseInt(dislikesAmmount) + dislikeAddAmount;
			$("#resourceLikes_" + resourceId).html(newLikeResult);
			$("#resourceDislikes_" + resourceId).html(newDisLikeResult);
			likesAmmount = $("#resourceLikesBtn_" + resourceId).attr('data-id1', newLikeResult);
			dislikesAmmount = $(this).attr('data-id1', newDisLikeResult);

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddDislike", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId, likeAddAmount: parseInt(likeAddAmount), dislikeAddAmount: parseInt(dislikeAddAmount) },
				dataType: "json",
				success: function (response) {
					$("#resourceLikesBtn_" + resourceId).prop('disabled', false);
					$("#resourceDisLikesBtn_" + resourceId).prop('disabled', false);
				}
			});
		});

		//Add ToMyHandBook
		$('.addToMyHandBookBtn').click(function () {

			var resourceId = $(this).attr('data-id');
			var orderBy = $('#orderByList').val();
			var searchText = document.getElementById("searchTextVal").innerText;
			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddToMyHandBook", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId, searchText: searchText, orderBy: orderBy},				
				success: function (response) {										
					$("#detailsViewID").html(response);
					bindEdit();			
				}
			});
		});

		//mark As Complete
		$('.markAsCompleteBtn').click(function ()  {

			var resourceId = $(this).attr('data-id');			

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("MarkAsComplete", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {					
					if (response == true) {
						$('#markAsComplete_' + resourceId).html('<div class="complete_box anticon anticon-check"></div>Complete');
					}
				}
			});			
		});

		//Open Resource Details
		$('.resourceLink').click(function () {
			var resourceUrl = $(this).attr("data-id");
			var resourceLinkUrl = $(this).attr('data-id1');
			var resourceDocumentUrl = $(this).attr('data-id2');
			var openResourceDocumentUrl = $(this).attr('data-id3');

			if (openResourceDocumentUrl == "OpenLink") {
				window.location.href = resourceUrl;
			}
			else if (resourceLinkUrl != 'undefined' && resourceLinkUrl != "") {
				window.open(resourceLinkUrl);
			}
			else if (resourceDocumentUrl != 'undefined' && resourceDocumentUrl != "") {
				window.open(resourceDocumentUrl);
			}
		});

	}

	function doOrderBy() {
		var orderBy = $('#orderByList').val();
		var searchText = document.getElementById("searchTextVal").innerText;

		$.ajax({
			type: 'POST',
			cache: false,
			url: '@Url.Action("OrderBy", "IAFCHBSearchResultsController")',
			data: { searchText: searchText, orderBy: orderBy  },
			success: function (response) {
				$("#detailsViewID").html(response);
				bindEdit();
			}
		});
	}

</script>