@model  SitefinityWebApp.Mvc.Models.IAFCHandBookCategoryResourcesModel

<div class='sfContentBlock topics__text @Model.ParenCategory.CategoryClass'>
	<div class="box">
		<h2>
			@Model.ParenCategory.CategoryTitle
			<span class="parent-category-img">
				<img src="@Model.ParenCategory.CategorySvg" alt="@Model.ParenCategory.CategoryAlt">
			</span>
		</h2>
		<h5 class="topics__text_desc">
			@Model.ParenCategory.CategoryDescription
		</h5>
	</div>
</div>

<div class='sfContentBlock topics__content  @Model.ChildCategories.First().CategoryClass'>
	<div class="box">
		<ul class="topics__ul topics__ul-flex">
			@foreach (var categoryItem in Model.ChildCategories)
			{
				<li class="topics__list">
					<a href="@categoryItem.CategoryUrl">
						<img class="topics__list_img" src="@categoryItem.CategorySvg" alt="@categoryItem.CategoryAlt">
						<p class="topics__img-text">@categoryItem.CategoryTitle</p>
						<div class="topics__img-back">
							<p class="topics__img-back-info big_truncate_hover">@categoryItem.CategoryDescription</p>
							<p class="topics__img-back-text">@categoryItem.ResourcesAmount Resources</p>
						</div>
					</a>
				</li>
			}
		</ul>
	</div>
</div>


