@model  SitefinityWebApp.Mvc.Models.IAFCHandBookCategoryResourcesModel

<div class='sfContentBlock topics__text @Model.ParenCategory.CategoryClass'>
	<div class="box">
		<h2>
			@Model.ParenCategory.CategoryTitle
			@Html.Raw(Model.ParenCategory.CategorySvg)
		</h2>
		<h5>
			@Model.ParenCategory.CategoryDescription
		</h5>
	</div>
</div>

<div class='sfContentBlock topics__content  @Model.ChildCategories.First().CategoryClass'>
	<div class="box">
		<ul class="topics__ul topics__ul-flex">
			@foreach (var categoryItem in Model.ChildCategories)
			{
				<li class="topics__list">
					<a href="@categoryItem.CategoryUrl">
						@Html.Raw(categoryItem.CategorySvg)
						<p class="topics__img-text">@categoryItem.CategoryTitle</p>
						<span class="topics__img-back">
							<p class="topics__img-back-info">@categoryItem.CategoryDescription</p>
							<p class="topics__img-back-text">@categoryItem.ResourcesAmount Resources</p>
						</span>
					</a>
				</li>
			}
		</ul>
	</div>
</div>


