@model  List<SitefinityWebApp.Mvc.Models.IAFCHandBookTopicCategoryModel>

<div>
	@{var parentCategory = String.Empty;}
	@foreach (var category in Model.OrderBy(c => c.ParentCategoryTitle))
	{

		if (parentCategory != category.ParentCategoryTitle)
		{
	<div class="follow_categories">
			<h5>@category.ParentCategoryTitle</h5>
		<div class="category_follow">
			<h6> @category.CategoryTitle</h6>
			<div id="@string.Format("{0}_{1}", "unfollow", category.Id.ToString())">
			<div class="unfollow">
				<button type="button" class="unfollowBtn" data-id="@category.Id.ToString()" >Unfollow</button>
			</div>
		</div>
		{ parentCategory = category.ParentCategoryTitle; }
	</div>

</div>
		}
	<!--<div class="category_follow">-->
		<!--<h6> @category.CategoryTitle</h6>-->
		<!--<div id="@string.Format("{0}_{1}", "unfollow", category.Id.ToString())">-->
			<!--<div class="unfollow">-->
				<!--<button type="button" class="unfollowBtn" data-id="@category.Id.ToString()" >Unfollow</button>-->
			<!--</div>-->
		<!--</div>-->
<!--</div>-->
		<!--{ parentCategory = category.ParentCategoryTitle; }-->
<!--</div>-->
	}
</div>