@model  SitefinityWebApp.Mvc.Models.IAFCHandBookAccount

<div class="box account-template">
	<p class="breadcrumbs">Account</p>
	<h1 class="page__title">My Account</h1>
	<h4 class="topic__subtitle">Login Information</h4>
	<div class="resources__logged-buttons">
		<div class="edit-button">
			<button type="submit" formaction="/Mxg/AuthService/SignInByHelix/?ReturnUrl=@Request.Url.AbsoluteUri" class="community__head-btn resources__logged-btn"> Edit Login </button>
		</div>
	</div>

	<h4 class="topic__subtitle">Email Digest</h4>
	<p>A summary of all the latest resources from the topics you follow:</p>
	<div class="checkbox-container">
		<input id="WeeklyUpdates" type="checkbox" value="@Model.WeeklyUpdates"  @(Model.WeeklyUpdates ? "checked=\"checked\"" : "")/> Weekly Updates
		<input id="MonthlyUpdates" type="checkbox" value="@Model.MonthlyUpdates" @(Model.MonthlyUpdates ? "checked=\"checked\"" : "")/>  Monthly Updates
	</div>
	<div id="followedCategoriesViewID">
		@Html.Partial("_FollowedCategories", Model.FollowedCategories)
	</div>
</div>
<script>

	$(document).ready(function () {
	
		bindEdit();
	});

	function bindEdit() {

		//WeeklyUpdates
		$('#WeeklyUpdates').change(function () {
			var checkBoxItemValue = $(this).is(':checked');
			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("WeeklyUpdates", "IAFCHBAccountController")',
				data: { value: checkBoxItemValue }
				
			});
		});

	
		//MonthlyUpdates
		$('#MonthlyUpdates').change(function () {
			var checkBoxItemValue = $(this).is(':checked');
			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("MonthlyUpdates", "IAFCHBAccountController")',
				data: { value: checkBoxItemValue }				
			});
		});

		//Unfollow
		$('.unfollowBtn').click(function () {
			var categoryId = $(this).attr('data-id');
						
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("Unfollow", "IAFCHBMyHandBookCategoryResources")',
				data: { categoryId: categoryId},				
				success: function (response) {										
					$("#followedCategoriesViewID").html(response);
					bindEdit();			
				}
			});
		});

	}
	

</script>