@model IList<SitefinityWebApp.Mvc.Models.BlendedListItem>

@if(Model.Any())
{
<div>
	@foreach (var item in Model.Reverse())
	{
		<div class="spost clearfix">
            <div class="entry-c" style="margin-left:20px">
			<div class="mg-date-icon" style="display:none;">
				<span class="month">
					@if(@item.SelfPaced == false){
						@item.EventStartDate.ToString("MMM")
					}
					else{
					}
				</span>
				<span class="day">
					@if(@item.SelfPaced == true){
						<div class="icon icon-laptop"></div>
					}
					else{
						@item.EventStartDate.ToString(" d ")
					}
				</span>
			</div>
			<div>
                <h4><a href="@item.Link">@item.Title</a></h4>
				@if(@item.SelfPaced == true){
					<div class="wildland-event_date">
						Self-Paced
					</div>
				}
				else{
					<div class="wildland-event_date">
						@if(item.EventStartDate.ToString("MMM d, yyyy") == item.EventEndDate.ToString("MMM d, yyyy"))
							{
								@item.EventStartDate.ToString("MMM d, yyyy")
							}
						else if(item.EventStartDate.ToString("MMM yyyy") == item.EventEndDate.ToString("MMM yyyy"))
							{
								@(item.EventStartDate.ToString("MMM d") + @item.EventEndDate.ToString("-d, yyyy"))
							}
						else if(item.EventStartDate.ToString("yyyy") != item.EventEndDate.ToString("yyyy"))
							{
								@(item.EventStartDate.ToString("MMM d, yyyy") + @item.EventEndDate.ToString("- MMM d, yyyy"))
							}
						else
							{
								@(item.EventStartDate.ToString("MMM d, yyyy") + @item.EventEndDate.ToString("MMM d, yyyy"))
							}
					</div>
				}
			<div class="wildland-event_location">
				@item.LocationStreet
				@if(item.LocationCity != "")
				{
					@item.LocationCity
				}
				@item.LocationState
    		</div>

                <div style="margin-top: 5px !important;">
                    <a class="button button-small button-3d button button-rounded button-red" href="@item.Link">Learn More</a>
                </div>
			</div>
		</div>
        </div>
	}
</div>
}
