@model List<SitefinityWebApp.Mvc.Models.IAFCHandBookCommentModel>

<ul class="commentsView resources-single__comments_list_container_items">
    @foreach (var commentItem in Model)
    		{
    		<li class="resources-single__comments_list_container_items_item">
				<div class="resources-single__comments_list_container_items_item_title">
					<h5>@commentItem.Author.UserName</h5>
				</div>
				<div class="resources-single__comments_list_container_items_item_text">
					@Html.Raw(commentItem.CommentText)
				</div>
				<div class="resources-single__comments_list_container_items_item_bottom">
					<div class="resources-single__comments_list_container_items_item_bottom_reply">
						@if (commentItem.UserAuthorized)
    					{
    					<span id="@string.Format("{0}_{1}", "replyCommentBtn", commentItem.Id.ToString())">
    						@if (commentItem.RelpyButtonPressed == true)
    						{
    							<span>Reply Pressed </span>
    						}
    						else
    						{
    							<button type="button" class="commentReplyBtn" data-id="@commentItem.Id.ToString()"> Reply </button>
    						}
    					</span>
    					}
					</div>
					<div class="single-post-statistic">
						<button id="@string.Format("{0}_{1}", "commentLikes" , commentItem.Id.ToString())" type="button" 
								class="addCommentLike anticon anticon-like-o @(commentItem.Likes.IsResourceLiked? "clicked-like":"" )" 
								data-id="@commentItem.Id.ToString()" data-id1="@commentItem.Likes.Likes"  title="Add Like"
								data-id2="@(commentItem.Likes.IsResourceLiked? "liked" : "not_liked")"
								data-id3="@(commentItem.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
								@(!commentItem.UserAuthorized? "disabled":"")> 
							<span>@commentItem.Likes.Likes</span> 
						</button>
						<button id="@string.Format("{0}_{1}", "commentDislikes" , commentItem.Id.ToString())" type="button" 
								class="addCommentDislike anticon anticon-dislike-o @(commentItem.Likes.IsResourceDisliked? "clicked-dislike":"")" 
								data-id="@commentItem.Id.ToString()" data-id1="@commentItem.Likes.Dislikes" title="Add Dislike"
								data-id2="@(commentItem.Likes.IsResourceLiked? "liked" : "not_liked")"
								data-id3="@(commentItem.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
								@(!commentItem.UserAuthorized? "disabled":"")> 
							<span>@commentItem.Likes.Dislikes</span> 
						</button>
					</div>
				</div>
				<div class="resources-single__comments_list_container_items_item_replay_container">
					<div id="@string.Format("{0}_{1}", "commentRepliesInputView", commentItem.Id.ToString())">
    						@if (commentItem.RelpyButtonPressed == true)
    						{
    							@Html.Partial("_IAFCHBReplyCommentsInput", commentItem.Id)
    						}
    				</div>
					<div id="@string.Format("{0}_{1}", "commentRepliesView" , commentItem.Id.ToString())">
    						@Html.Partial("_IAFCHBComments", commentItem.RepliedComments)
    				</div>
				</div>
               </li>
    		}
</ul>