@model  SitefinityWebApp.Mvc.Models.IAFCHandBookResourceModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
<div class="logged-section">
	@if (Model.Id != Guid.Empty)
	{		
	<div class="resources__logged">

			<div class="resources__logged-info">
				<p class="resources__slide-article">Featured @Model.ResourceDetails.ResourceType . @Model.ResourceDetails.Category.CategoryTitle</p>
				<h6 class="resources__slide-title">@Model.ResourceDetails.ResourceTitle</h6>
				<p class="resources__slide-desc">@Html.Raw(Model.ResourceDetails.ResourceSummary)</p>
			<div class="resources__logged-buttons">
				<button type="submit" formaction="@Model.ResourceUrl" class="community__head-btn" > View </button>
				<span id="@string.Format("{0}_{1}", "addToMyHandBook", Model.Id.ToString())">
					@if (Model.AddToMyHandBook == true)
					{
						<span>Added to MyHandBook</span>
					}
					else
					{
						<button type="button" class="resources__slide-btn addToMyHandBook" data-id="@Model.Id.ToString()"><span class="resources--plus anticon anticon-plus"></span>Add to MyHandBook </button>
					}
				</span>
            </div>
			</div>
			<div class="resources__img-box">
				<img src='@Model.ResourceDetails.ImageUrl' style="width:384px;height:266px;" />
				@Model.ResourceDetails.Duration


			</div>

	</div>
	}
</div>

<script type="text/javascript">

	$(document).ready(function () {
		
		//Add ToMyHandBook
		$('.addToMyHandBook').on('click', function () {

			var resourceId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddToMyHandBook", "IAFCHBFeaturedResourcesController")',
				data: { resourceId },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$("#addToMyHandBook_" + resourceId).html("<span class='resources--plus anticon anticon-check'></span>Added to MyHandBook");
					}
				}
			});
		});

	});

</script>




