@model  SitefinityWebApp.Mvc.Models.IAFCHandBookMyHandBookResourceModelModel

@{var emptyDuration = new TimeSpan(0, 0, 0);}

<div class="handbook__template">
	<div><a class="topic__subtitle" href="@Model.Category.MyHandBookCategoryUrl">@Model.Category.CategoryTitle</a></div>
	<div class="progressindicator__wrapper all_progressindicator__wrapper">
		<div class="progressindicator__wrapper-col">
			<div class="progressindicator__label"><div class="time">@Model.Category.MyHandBookCompletedResources</div> Complete</div>
			<div class="progressindicator__label"><div class="time">@Model.Category.MyHandBookInCompletedResources</div> Incomplete</div>
			<div class="progressindicator__label"><div class="time">@Model.Category.TotalDuration.ToString() </div>Time Remaining</div>
		</div>
	</div>
</div>
@{int columnCounter = 0; }
@{int columnCounterForMoreResources = 0; }
@{var openDocumentLink = false;}

@foreach (var item in Model.MyResources)
{
	if (columnCounter == 0)
	{
		@Html.Raw("<section class='handbook__template all_complete_resources_slides complete_blocks_first'>");
	}
	{ columnCounterForMoreResources++; }
	openDocumentLink = ((item.ResourceDetails.ResourceDescription != null && item.ResourceDetails.ResourceDescription != String.Empty)
	|| (item.ResourceDetails.ResourceTypeName == "video"));
	<div class="@string.Format("{0}_{1}", "resourceSlideComplete", item.Id.ToString()) complete_block_first resourceLink"
		data-id="@item.ResourceUrl"
		data-id1="@item.ResourceDetails.ResourceLink"
		data-id2="@item.ResourceDetails.ResourceDocument"
		@(openDocumentLink ?"data-id3=OpenLink":"data-id3=\"\"")>
		<div class="resources__community-img img-container-js">
			@if (item.ResourceDetails.ImageUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
			{
				<img src='@item.ResourceDetails.ImageUrl' alt="@item.ResourceDetails.ImageAlt" />
			}
			else
			{
				<div class="resources-placeholder">
					<div class="placehoolder-background">
						<img src="@item.ResourceDetails.ImagePlaceholderUrl" alt="@item.ResourceDetails.ImagePlaceholderAlt">
					</div>
					@if (item.ResourceDetails.ImageSvgUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
					{
						<div class="placeholder-type">
							<img src="@item.ResourceDetails.ImageSvgUrl" alt="@item.ResourceDetails.ImageSvgUrl">
						</div>
					}
				</div>
			}
			@if (item.ResourceDetails.Duration != emptyDuration)
			{
				<div class="resources__slide-time">
					<div class="resources--time">&nbsp;</div>
					@item.ResourceDetails.Duration
				</div>
			}
		</div>
		<div class="resources__slide-info resources__community-slide-info community_info">
			<div class="resources__slide-box">
				<p class="resources__slide-article"> @item.ResourceDetails.ResourceType</p>
				<div class="resources__slide-title sm_truncate_title">@item.ResourceDetails.ResourceTitle</div>
				<p class="resources__slide-desc sm_truncate_desc slide_desc_none">@Html.Raw(item.ResourceDetails.ResourceSummary)</p>
			</div>
			<div class="resources__slide-footer">
				@if (item.IsUserAuthorized)
				{
					if (Model.SharedUserId == Guid.Empty)
					{
						<div class="@string.Format("{0}_{1}", "markAsComplete", item.Id.ToString()) resources__slide-btn ">
							<div class="markAsCompleteResource">
								<button type="button" class="click-cancel-js markAsCompleteBtn complete_btn" data-id="@item.Id.ToString()" data-id2="@item.ResourceDetails.Category.Id"
										data-сomplete="Leadership - Generational Differences - Generational Differences in the Workplace">
									<div class="complete_box click-cancel-js"></div>Mark As Complete
								</button>
							</div>
						</div>
						<div class="resources__slide-btn" id="@string.Format("{0}_{1}", "remove", item.Id.ToString())">
							<div class="removeResource">
								<button type="button" class="click-cancel-js removeBtn complete_btn" data-id="@item.Id.ToString()" data-id2="@item.ResourceDetails.Category.Id">
									<i class="anticon anticon-close click-cancel-js"></i>Remove
								</button>
							</div>
						</div>
					}
					else
					{
						<div class="resources__slide-btn single-post-add click-cancel-js" id="@string.Format("{0}_{1}", "addSharedToMyHandBook", item.Id.ToString())">
							<div id="addSharedToMyHandBook">
								@if (item.IsResourceAddedToMyHandBook == true)
								{
									<span class='resources--plus anticon anticon-check click-cancel-js'></span><span class="click-cancel-js">Added to My A-RIT</span>
								}
								else
								{
									<button type="button" class="click-cancel-js addSharedToMyHandBookBtn resources__slide-btn" data-id="@item.Id.ToString()"
											data-addtomyarit="@item.ResourceDetails.Category.ParentCategoryTitle - @item.ResourceDetails.Category.CategoryTitle - @item.ResourceDetails.ResourceTitle">
										<span class="resources--plus anticon anticon-plus click-cancel-js"></span> Add to My A-RIT 
									</button>
								}
							</div>
						</div>
					}
				}
				<div class="resources-single__left_post_comment_header_right">
					@if (openDocumentLink)
					{
						<a href="@item.ResourceUrl" class="click-cancel-js single-post-comments"><i class="material-icons click-cancel-js">chat_bubble_outline</i><span class="click-cancel-js">@item.CommentsAmount</span></a>
					}

					<div class="single-post-statistic">
						<button type="button" id="@string.Format("{0}_{1}","resourceLikesBtn", item.Id.ToString())"
								class="@string.Format("{0}_{1}","resourceLikesCls", item.Id.ToString()) addLike anticon click-cancel-js anticon-like-o @(item.Likes.IsResourceLiked?"clicked-like":"" )"
								data-id="@item.Id.ToString()"
								data-id1="@item.Likes.Likes"
								data-id2="@(item.Likes.IsResourceLiked? "liked" : "not_liked")"
								data-id3="@(item.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
								@(!item.IsUserAuthorized? "disabled":"")>
							<span class="@string.Format("{0}_{1}", "resourceLikes", item.Id.ToString()) resources--like click-cancel-js">
								<span class="click-cancel-js">@item.Likes.Likes</span>
							</span>
						</button>

						<button type="button" id="@string.Format("{0}_{1}","resourceDisLikesBtn", item.Id.ToString())" 
								class ="@string.Format("{0}_{1}","resourceDisLikesCls", item.Id.ToString()) addDislike anticon click-cancel-js anticon-dislike-o @(item.Likes.IsResourceDisliked? "clicked-dislike":"")"
								data-id="@item.Id.ToString()" 
								data-id1="@item.Likes.Dislikes"
								data-id2="@(item.Likes.IsResourceLiked? "liked" : "not_liked")"
								data-id3="@(item.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
								@(!item.IsUserAuthorized? "disabled":"")>
							<span class="@string.Format("{0}_{1}", "resourceDislikes" , item.Id.ToString()) resources--dislike click-cancel-js">
								<span class="click-cancel-js">@item.Likes.Dislikes</span>
							</span>
						</button>
					</div>

				</div>
			</div>
		</div>
	</div>

	if (columnCounterForMoreResources == 5)
	{
		if (item.MoreThen5Resources > 0)
		{
			<div class="handbook__more">
				<div class="handbook__more-item">
					<h3>+ @item.MoreThen5Resources More</h3>
					<a href="@item.ResourceDetails.Category.MyHandBookCategoryUrl">
						<span class="handbook__more-topic">View All</span>
					</a>
				</div>
			</div>
		}
	}

	if (columnCounter == 6)
	{
		columnCounter = 0;
		@Html.Raw("</section>")
	}
	else
	{
		columnCounter++;

	}
}
@{
	if (columnCounter != 0)
	{
		@Html.Raw("</section>")
	}
}

<script>
    /*MY HB M&MEDIA PAGE TITLE*/
    $('.sm_truncate_title').each(function() {
        var xSeven = 28;
        var ySeven = '...';
        if ($(this).text().length > (xSeven - ySeven.length)) {
            $(this).text($(this).text().substr(0, xSeven-ySeven.length) + ySeven);
        }
    });
    /*MY HB M&MEDIA PAGE DESC*/
    if($(window).width() > 1109) {
        $('.sm_truncate_desc').each(function() {
            var xEight = 55;
            var yEight = '...';
            if ($(this).text().length > (xEight - yEight.length)) {
                $(this).text($(this).text().substr(0, xEight-yEight.length) + yEight);
            }
        });
    } else {
        $('.sm_truncate_desc').each(function() {
            var xEight = 51;
            var yEight = '...';
            if ($(this).text().length > (xEight - yEight.length)) {
                $(this).text($(this).text().substr(0, xEight-yEight.length) + yEight);
            }
        });
    }
</script>
