@model  SitefinityWebApp.Mvc.Models.IAFCHandBookMyHandBookModel
<div class="handbook__title">
	@if (Model.SharedUser != null && Model.SharedUser != string.Empty)
	{
		<h1>@Model.SharedUser HANDBOOK</h1>
	}
	else
	{
		<h1>MY HANDBOOK</h1>
	}	
</div>
<div class="box">
	@foreach (var myHandBookResource in Model.MyHandBookResurces)
	{
	<div class="community_indicator_col">
		
		<div class="left_indicator_col">
			<select class="community__title-select handbook_title_select" id="UrlList" onchange="doNavigate()">
				<option value=@myHandBookResource.Category.MyHandBookCategoryUrl>@myHandBookResource.Category.CategoryTitle</option>
				@foreach (var item in myHandBookResource.MoreCategories)
				{
					<option value=@item.MyHandBookCategoryUrl>@item.CategoryTitle</option>
				}
			</select>
		</div>

		<div class="handbook__social-buttons">
			@if (Model.SharedUserId == Guid.Empty)
			{
				<button id="edit" type="button" class="editBtn progressindicator_share"><i class="anticon anticon-setting"></i> Edit </button>
				<button id="edit" type="button" class="cancelBtn progressindicator_share"><i class="anticon anticon-close"></i> Cancel </button>
				<div class="progressindicator_share">
					<div id="shareBtn" class="addthis_inline_share_toolbox_n7k8">
						<a class="addthis_button_compact">
							<i class="anticon anticon-share-alt"></i>
							<span>Share</span>
						</a>
					</div>
				</div>
			}
		</div>

	</div>
		<div>
			@foreach (var myChildResources in myHandBookResource.MyChildHandBookResources)
			{
				<div id="@string.Format("{0}_{1}", "myHandBookResourcesDetails", myChildResources.Category.Id.ToString())">
					@Html.Partial("_MyHandBookAllResourcesPerCategoryDetails", myChildResources)
				</div>
				<br />
			}
		</div>
	
	}	
</div>

<script src="/Sitefinity/WebsiteTemplates/IAFCHandBook/App_Themes/IAFCHandBook/js/jquery.selectric.js"></script>

<script>
	var addthis_share = {};

	$(document).ready(function () {
		$('.removeResource').hide();		
		$('.cancelBtn').hide();
		doShareUrl();
		bindEdit();
	});
	

	function bindEdit(){

		//Add Like
		$('.addLike').click(function ()  {		
			var isAdding = true;
			var likeAddamount = 1;
			var resourceId = $(this).attr('data-id');
			var isDisLikeEnabled = $('#resourceDisLikesBtn_' + resourceId).is(':disabled');
			if (isDisLikeEnabled) {
				isAdding = false;
				likeAddamount = -1;
				$("#resourceDisLikesBtn_" + resourceId).removeAttr('disabled');
			}
			else {
				$("#resourceDisLikesBtn_" + resourceId).attr('disabled', 'disabled');
			}
			var likesAmmount = $(this).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddamount;
			$("#resourceLikes_" + resourceId).html(newLikeResult);
			likesAmmount = $(this).attr('data-id1', newLikeResult);


			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddLike", "IAFCHBMyHandBookAllResourcesPerCategory")',
				data: { resourceId: resourceId, isAdding: isAdding  },
				dataType: "json",
				success: function (response) {
					console.log(response)
				}
			});
		});

		//Add Dislike
		$('.addDislike').click(function () {
			var isAdding = true;
			var dislikeAddamount = 1;
			var resourceId = $(this).attr('data-id');
			var isLikeEnabled = $('#resourceLikesBtn_' + resourceId).is(':disabled');

			if (isLikeEnabled) {
				isAdding = false;
				var dislikeAddamount = -1;
				$("#resourceLikesBtn_" + resourceId).removeAttr('disabled');
			}
			else {
				$("#resourceLikesBtn_" + resourceId).attr('disabled', 'disabled');
			}

			var disLikesAmmount = $(this).attr('data-id1');
			var newLDilsikeResult = parseInt(disLikesAmmount) + dislikeAddamount;
			$("#resourceDislikes_" + resourceId).html(newLDilsikeResult);
			disLikesAmmount = $(this).attr('data-id1', newLDilsikeResult);

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddDislike", "IAFCHBMyHandBookAllResourcesPerCategory")',
				data: { resourceId: resourceId, isAdding: isAdding  },
				dataType: "json",
				success: function (response) {
					console.log(response)
				}
			});
		});

		//mark As Complete
		$('.markAsCompleteBtn').click(function ()  {

			var resourceId = $(this).attr('data-id');
			var categoryId = $(this).attr('data-id2');			

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("MarkAsComplete", "IAFCHBMyHandBookAllResourcesPerCategory")',
				data: {  resourceId: resourceId, categoryId: categoryId},
				success: function (response) {					
					$('#markAsComplete_' + resourceId).html('<div class="completedResource"> <div class="complete_box anticon anticon-check"></div>Complete </div>');					
					hideButtons();
					bindEdit();
				}
			});			
		});

		//remove
		$('.removeBtn').click(function ()  {

			var resourceId = $(this).attr('data-id');
			var categoryId = $(this).attr('data-id2');			

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("Remove", "IAFCHBMyHandBookAllResourcesPerCategory")',
				data: { resourceId: resourceId, categoryId: categoryId },
				success: function (response) {					
					$('#myHandBookResourcesDetails_' + categoryId).html(response);
					hideButtons();
					bindEdit();
				}
			});			
		});

		//Add Shared Resource to My Hand Book
		$('.addSharedToMyHandBookBtn').click(function ()  {
			var resourceId = $(this).attr('data-id');			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddSharedToMyHandBook", "IAFCHBMyHandBookAllResourcesPerCategory")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {					
					if (response == true) {
						$("#addSharedToMyHandBook_" + resourceId).html("<span class='resources--plus anticon anticon-check'></span>Added to MyHandBook");
					}
				}
			});
		});


		//Edit
		$('.editBtn').click(function ()  {			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("Edit", "IAFCHBMyHandBookAllResourcesPerCategory")',
				data: { operation: "Edit" },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$('.editBtn').hide();
						$('.cancelBtn').show();
					}					
					hideButtons();
				}
			});
		});

		//Cancel
		$('.cancelBtn').click(function ()  {
			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("Edit", "IAFCHBMyHandBookAllResourcesPerCategory")',
				data: { operation: "Cancel" },
				dataType: "json",
				success: function (response) {
					if (response == false) {
						$('.editBtn').show();
						$('.cancelBtn').hide();
					}					
					hideButtons();
				}
			});
		});

		//Open MyHandBook Resource Details
		$('.resourceLink').click(function () {
			var resourceUrl = $(this).attr("data-id");
			var resourceLinkUrl = $(this).attr('data-id1');
			var resourceDocumentUrl = $(this).attr('data-id2');
			var openResourceDocumentUrl = $(this).attr('data-id3');

			if (openResourceDocumentUrl == "OpenLink") {
				window.location.href = resourceUrl;
			}
			else if (resourceLinkUrl != 'undefined' && resourceLinkUrl != "") {
				window.open(resourceLinkUrl);
			}
			else if (resourceDocumentUrl != 'undefined' && resourceDocumentUrl != "") {
				window.open(resourceDocumentUrl);
			}
		});
	}

	function hideButtons() {
		var isEditVisible = $('.editBtn').is(':visible');
		if (isEditVisible) {
			$('.resources__slide-btn:nth-of-type(1)').show();
			$('.removeResource').hide();			
		}
		else {
			$('.resources__slide-btn:nth-of-type(1)').hide();
			$('.removeResource').show();			
		}
	}

	function doNavigate() {
		window.location.href = document.getElementById("UrlList").value;
	}

	function doShareUrl() {

		var url = window.location.href;
		$.ajax({
			async: false,
			type: 'POST',
			cache: false,
			url: '@Url.Action("Share", "IAFCHBMyHandBookCategoryResources")',
			data: { url: url },
			dataType: "json",
			success: function (response) {
				addthis_share.url = response;
				$('#shareBtn').css('pointer-events', 'initial');
			}
		});
	}

</script>
