@model SitefinityWebApp.Mvc.Models.IAFCHandBookMyHandBookResourceModelModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="handbook__title">
	<h1>MY HANDBOOK</h1>
</div>
<div class="box complete-box">
	<div class="complete__tablet_head-buttons">
		@if (Model.SharedUserId == Guid.Empty)
		{
			<button type="button" class="editBtn progressindicator_share"><i class="anticon anticon-setting"></i> Edit  </button>
			<button type="button" class="cancelBtn progressindicator_share"><i class="anticon anticon-close"></i> Cancel </button>
			<button type="button" class="shareBtn progressindicator_share"><i class="anticon anticon-share-alt"></i> Share </button>			
		}
	</div>

	<div class="resources-breadcrumbs">
		My HandBook >
		<a href='@Model.Category.MyHandBookParentCategoryUrl'><span>@Model.Category.ParentCategoryTitle </span></a>
	</div>

	<div class="community__head-title">
		<select class="community__title-select" id="UrlList" onchange="doNavigate()">
			<option value=@Model.Category.MyHandBookCategoryUrl>@Model.Category.CategoryTitle</option>
			@foreach (var item in Model.MoreCategories)
			{
				<option value=@item.MyHandBookCategoryUrl>@item.CategoryTitle</option>
			}
		</select>
		<div class="complete__head-buttons">
			@if (Model.SharedUserId == Guid.Empty)
			{
				<button type="button" class="editBtn progressindicator_share"><i class="anticon anticon-setting"></i> Edit  </button>
				<button type="button" class="cancelBtn progressindicator_share"><i class="anticon anticon-close"></i> Cancel  </button>
				<button type="button" class="shareBtn progressindicator_share"><i class="anticon anticon-share-alt"></i> Share </button>
				<div id="share"> </div>
			}
		</div>
	</div>
		
	<div id="@string.Format("{0}_{1}", "myHandBookResourcesDetails", Model.Category.Id.ToString())">
		@Html.Partial("_MyHandBookCategoryResourcesDetails", Model)
	</div>	

</div>

<script src="/Sitefinity/WebsiteTemplates/IAFCHandBook/App_Themes/IAFCHandBook/js/jquery.selectric.js"></script>
<script type="text/javascript">


	$(document).ready(function () {		
		$('.removeResource').hide();		
		$('.removeCompletedResource').hide();				
		$('.cancelBtn').hide();				
		bindEdit();
	});
	
	function bindEdit() {

		//Add Like
		$('.addLike').click(function ()  {
			var resourceId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddLike", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {
					$("#resourceLikes_" + resourceId).html(response);
				}
			});
		});

		//Add Dislike
		$('.addDislike').click(function ()  {

			var resourceId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddDislike", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {
					$("#resourceDislikes_" + resourceId).html(response);
				}
			});
		});

		//mark As Complete
		$('.markAsCompleteBtn').click(function ()  {

			var resourceId = $(this).attr('data-id');
			var categoryId = $(this).attr('data-id2');			

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("MarkAsComplete", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId, categoryId: categoryId },
				success: function (response) {					
					$('#myHandBookResourcesDetails_' + categoryId).html(response);
					hideButtons();
					bindEdit();
				}
			});			
		});

		//Add Shared Resource to My Hand Book
		$('.addSharedToMyHandBookBtn').click(function ()  {
			var resourceId = $(this).attr('data-id');			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddSharedToMyHandBook", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {					
					if (response == true) {
						$("#addSharedToMyHandBook_" + resourceId).html("<span class='resources--plus anticon anticon-check'></span>Added to MyHandBook");
					}
				}
			});
		});

		//remove
		$('.removeBtn').click(function ()  {

			var resourceId = $(this).attr('data-id');
			var categoryId = $(this).attr('data-id2');			

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("Remove", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId, categoryId: categoryId },
				success: function (response) {					
					$('#myHandBookResourcesDetails_' + categoryId).html(response);
					hideButtons();
					bindEdit();
				}
			});			
		});

		//Remove Completed
		$('.removeComplenedBtn').click(function ()  {

			var resourceId = $(this).attr('data-id');
			var categoryId = $(this).attr('data-id2');
			var markAsCompleteCaption = $(this).text();			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("RemoveCompleted", "IAFCHBMyHandBookCategoryResources")',
				data: { resourceId: resourceId, categoryId: categoryId },
				success: function (response) {
					$('#myHandBookResourcesDetails_' + categoryId).html(response);
					bindEdit();
				}
			});			
		});

		//Edit
		$('.editBtn').click(function ()  {
			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("Edit", "IAFCHBMyHandBookCategoryResources")',
				data: { operation: "Edit" },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$('.editBtn').hide();
						$('.cancelBtn').show();
					}					
					hideButtons();
				}
			});
		});

		//Edit
		$('.cancelBtn').click(function ()  {
			
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("Edit", "IAFCHBMyHandBookCategoryResources")',
				data: { operation: "Cancel" },
				dataType: "json",
				success: function (response) {
					if (response == false) {
						$('.editBtn').show();
						$('.cancelBtn').hide();
					}					
					hideButtons();
				}
			});
		});

		//share
		$('.shareBtn').click(function ()  {
			var url = window.location.href;
			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("Share", "IAFCHBMyHandBookCategoryResources")',
				data: { url: url },
				dataType: "json",
				success: function (response) {
					$('#share').html(response);
				}
			});
		});

	}

	function hideButtons() {
		var isEditVisible = $('.editBtn').is(':visible');
		if (isEditVisible) {
			$('.resources__slide-btn:nth-of-type(1)').show();
			$('.removeResource').hide();
			$('.completedResource').show();
			$('.removeCompletedResource').hide();		
		}
		else {
			$('.resources__slide-btn:nth-of-type(1)').hide();
			$('.removeResource').show();
			$('.completedResource').hide();
			$('.removeCompletedResource').show();
		}
	}

	function doOrderBy() {
		var orderBy = $('#orderByList').val();
		var categoryId = $('#orderByList').attr('data-id');
		var userId = $('#orderByList').attr('data-id2');
		var sharedUserID = $('#orderByList').attr('data-id3');

		$.ajax({
			type: 'POST',
			cache: false,
			url: '@Url.Action("OrderBy", "IAFCHBMyHandBookCategoryResources")',
			data: { orderBy: orderBy, categoryId: categoryId, userId: userId, sharedUserID: sharedUserID },
			success: function (response) {
				$('#myHandBookResourcesDetails_' + categoryId).html(response);
				bindEdit();
			}
		});		
	}
	
	function doNavigate() {
		window.location.href = document.getElementById("UrlList").value;
	}				

</script>

