@model SitefinityWebApp.Mvc.Models.IAFCHandBookResourceModel
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


<div class="box box-container">
	<div class="resources-breadcrumbs"><a href="@Model.ResourceDetails.Category.ParentCategoryUrl"><span>@Model.ResourceDetails.Category.ParentCategoryTitle</span></a> > <a href="@Model.ResourceDetails.Category.CategoryUrl"><span>@Model.ResourceDetails.Category.CategoryTitle</span></a> > @Model.ResourceTitle </div>

	<div class="resources-single">
		<div class="resources-single__left">
			<div class="resources-single__left_post">
				<div class="resources-single__left_post_video">
						@if (Model.ResourceDetails.VideoEmbedCode != null && Model.ResourceDetails.VideoEmbedCode != String.Empty)
						{
							<iframe width="420" height="315"
									src=@Model.ResourceDetails.VideoEmbedCode></iframe>
						}
				</div>
				<div class="resources-single__left_post_title">
					<h5>@Model.ResourceDetails.ResourceTitle</h5>
					<p>@Model.ResourceDetails.ResourceDescription</p>
				</div>

				<div class="resources-single__left_post_comment">
					<div class="resources-single__left_post_comment_header">
						<div class="resources-single__left_post_comment_header_left">
							<div id="@string.Format("{0}_{1}", "addToMyHandBook" , Model.Id.ToString())">
								<div id="addToMyHandBook" class="single-post-add">
									@if (Model.IsResourceAddedToMyHandBook == true)
									{
										<span>Added to MyHandBook</span>
									}
									else
									{
										<button type="button" class="addToMyHandBook" data-id="@Model.Id.ToString()"> <i class="anticon anticon-plus"></i> Add to MyHandBook </button>
									}
								</div>
							</div>
							<div class="resources-single__left_post_comment_header_left_share anticon anticon-share-alt">
								Share
							</div>

						</div>
						<div class="resources-single__left_post_comment_header_right">
							<div class="single-post-comments" id="commentsAmountHeaderID" data-id="@Model.CommentsAmount.ToString()">
								<i class="material-icons">chat_bubble_outline</i>
								@Model.CommentsAmount Comments
							</div>
							<div class="single-post-statistic">
                                <button id="@string.Format("{0}_{1}", "resourceLikes" , Model.Id.ToString())" type="button" class="addLike anticon anticon-like-o" data-id="@Model.Id.ToString()" title="Add Like"> <span>@Model.Likes.Likes</span> </button>
                                <button id="@string.Format("{0}_{1}", "resourceDislikes" , Model.Id.ToString())" type="button" class="addDislike anticon anticon-dislike-o" data-id="@Model.Id.ToString()" title="Add Dislike"> <span>@Model.Likes.Dislikes</span> </button>
							</div>
						</div>
					</div>

					<div class="resources-single__left_post_comment_changer">
						<div class="resources-single-comment active">Comments</div>
						<div class="resources-single-resources">More Resources</div>
					</div>

					<div class="resources-single__left_post_comment_textarea">

							@if (Model.UserAuthorized)
							{

							}
						<div id="@string.Format("{0}_{1}", "commentsBlock", Model.Id.ToString())">
						<div class="replyAddComment">
							<div class="textarea-container">
										<textarea
												placeholder="Add a comment…"
												name="commentName"
												id="@string.Format("{0}_{1}", "comment", Model.Id.ToString())">
								</textarea>
							</div>
							<button type="button" class="addCommentBtn" data-id="@Model.Id.ToString()"> Add Comment </button>
						</div>
					</div>
			</div>
				</div>

				<div class="resources-single__comments_list">
					<div class="resources-single__comments_list_header" id="commentsAmountBottomID" data-id="@Model.CommentsAmount.ToString()">
								@Model.CommentsAmount Comments
							</div>
					<div class="resources-single__comments_list_container" id="refTable">
						@Html.Partial("_IAFCHBComments", Model.Comments)
					</div>
				</div>

			</div>
		</div>
		<div class="resources-single__right">
			<div class="resources-single__right_header">
				<p>More Resources in <span>@Model.ResourceDetails.Category.CategoryTitle</span></p>
			</div>
			<ul class="resources-single__right_list">
				@foreach (var item in Model.MoreResources)
				{
					<li class="resources-single__right_list_item">
						<div class="resources-single__right_list_item_type">
							@item.ResourceDetails.ResourceType
						</div>
						<div class="resources-single__right_list_item_title">
							<a href='@item.ResourceUrl'>@item.ResourceDetails.ResourceTitle</a>
						</div>
						<div class="single-post-statistic">
							<button title="Add Like" id="@string.Format("{0}_{1}", "resourceLikes" , item.Id.ToString())" type="button" class="addLike anticon anticon-like-o" data-id="@item.Id.ToString()"> <span>@item.Likes.Likes</span> </button>
							<button title="Add Dislike" id="@string.Format("{0}_{1}", "resourceDislikes" , item.Id.ToString())" type="button" class="addDislike anticon anticon-dislike-o" data-id="@item.Id.ToString()"> <span>@item.Likes.Dislikes</span> </button>
						</div>
					</li>
				}
			</ul>
			<div class="resources-single__right_more">
					<a href='@Model.ResourceDetails.Category.CategoryUrl'>See More</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function () {

		//Add Like
		$('.addLike').on('click', function () {

			var resourceId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddLike", "IAFCHBResourceDetailsController")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {
					$("#resourceLikes_" + resourceId).html(response);
				}
			});
		});

		//Add Dislike
		$('.addDislike').on('click', function () {

			var resourceId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddDislike", "IAFCHBResourceDetailsController")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {
					$("#resourceDislikes_" + resourceId).html(response);
				}
			});
		});

		//Add ToMyHandBook
		$('.addToMyHandBook').on('click', function () {

			var resourceId = $(this).attr('data-id');
			var tag_id = "#addToMyHandBook_" + resourceId;

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddToMyHandBook", "IAFCHBResourceDetailsController")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$(tag_id).html("Added to MyHandBook");
					}
				}
			});
		});

		//Add Comment
		$('.addCommentBtn').on('click', function () {

			var resourceId = $(this).attr('data-id');
			var commentMsg = $('#comment_' + resourceId).val();
			var comment = commentMsg;
			var commentAmount = parseInt($('#commentsAmountHeaderID').attr('data-id'))+1;

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddComment", "IAFCHBResourceDetailsController")',
				data: { commentTxt: comment, resourceId:resourceId },
				success: function (commentsResults) {
					$("#refTable").removeData();
					$("#refTable").html(commentsResults);
					var inputTxt = $('#comment_' + resourceId);
					inputTxt.replaceWith(inputTxt.val('').clone(true));
					$("#commentsAmountHeaderID").html((commentAmount).toString() + " comments");
					$("#commentsAmountBottomID").html((commentAmount).toString() + " comments");
				}

			});
		});

		//Add Comment Like
		$('.addCommentLike').on('click', function () {

			var resourceId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddCommentLike", "IAFCHBResourceDetailsController")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {
					$("#commentLikes_" + resourceId).html(response);
				}
			});
		});

		//Add Comment Dislike
		$('.addCommentDislike').on('click', function () {

			var resourceId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddCommentDislike", "IAFCHBResourceDetailsController")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {
					$("#commentDislikes_" + resourceId).html(response);
				}
			});
		});

		//Comment Reply btn t1
		$('.commentReplyBtn').on('click', function () {

			var commentId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("PressReplyCommentBtn", "IAFCHBResourceDetailsController")',
				data: { commentId: commentId },
				success: function (response) {
					$("#replyCommentBtn_" + commentId).html("");
					$("#commentRepliesInputView_" + commentId).html(response);
				}
			});
		});

		//Add Reply Comment Button Pressed
		$('.addReplyCommentBtn').on('click', function () {

			var commentId = $(this).attr('data-id');
			var commentMsg = $('#replyComment_' + commentId).val();
			var comment = commentMsg;

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddReplyComment", "IAFCHBResourceDetailsController")',
				data: { commentTxt: comment, commentId: commentId},
				success: function (commentsResults) {
					$("#commentRepliesInputView_" + commentId).html(" ");
					$("#commentRepliesView_" + commentId).html(commentsResults);
					$("#replyCommentBtn_" + commentId).html('<button type="button" class="commentReplyBtn" data-id="'+commentId+'"> Reply </button>');
				}

			});
		});

		$('.resources-single-comment').on('click', function(){
			if(!$(this).hasClass('active')){
				$(this).addClass('active');
				$('.resources-single-resources').removeClass('active');
				$('.resources-single__right').hide();
				$('.resources-single__comments_list').show();
			}
		})

		$('.resources-single-resources').on('click', function(){
			if(!$(this).hasClass('active')){
				$(this).addClass('active');
				$('.resources-single-comment').removeClass('active');
				$('.resources-single__right').show();
				$('.resources-single__comments_list').hide();
			}
		})
	});


</script>
