@model  List<SitefinityWebApp.Mvc.Models.IAFCHandBookResourceModel>


@{var emptyDuration = new TimeSpan(0, 0, 0);}
@{var openDocumentLink = false;}
<div class="community__section">
	<div class="box">
		@{int columnCounter = 0; }

		@foreach (var item in Model)
		{
			if (columnCounter == 0)
			{
				@Html.Raw("<section class='complete_blocks_first complete_blocks_big'>");
			}

			<div class="complete_block_first complete_block_big">
				<div class="resources__community-img img-container-js">
					@if (item.ResourceDetails.ImageUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
					{
						<a href="@item.ResourceUrl"><img src='@item.ResourceDetails.ImageUrl' alt="@item.ResourceDetails.ImageAlt" /></a>
					}
					else
					{
						<div class="resources-placeholder">
							<div class="placehoolder-background">
								<a href="@item.ResourceUrl"><img src="@item.ResourceDetails.ImagePlaceholderUrl" alt="@item.ResourceDetails.ImagePlaceholderAlt" ></a>
							</div>
							@if (item.ResourceDetails.ImageSvgUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
							{
								<div class="placeholder-type">
									<a href="@item.ResourceUrl"><img src="@item.ResourceDetails.ImageSvgUrl" alt="@item.ResourceDetails.ImageSvgAlt"></a>
								</div>
							}
						</div>
					}
					<div class="resources__community-label">
						<a href="@item.ResourceDetails.Category.ParentCategoryUrl">
							<span>@item.ResourceDetails.Category.ParentCategoryTitle</span>
						</a>
						<a href="@item.ResourceDetails.Category.CategoryUrl">
							<span>@item.ResourceDetails.Category.CategoryTitle</span>
						</a>
					</div>
					@if (item.ResourceDetails.Duration != emptyDuration)
					{
						<div class="resources__slide-time">
							<div class="resources--time">&nbsp;</div>
							@item.ResourceDetails.Duration
						</div>
					}
				</div>
				<div class="resources__slide-info resources__community-slide-info">
					<div class="resources__slide-box">
						<a href="@item.ResourceUrl"><p class="resources__slide-article"> @item.ResourceDetails.ResourceType</p></a>
						@{openDocumentLink = ((item.ResourceDetails.ResourceDescription != null && item.ResourceDetails.ResourceDescription != String.Empty)
								|| (item.ResourceDetails.ResourceTypeName == "video"));}
						<button type="button" class="resourceLink"
								data-id="@item.ResourceUrl"
								data-id1="@item.ResourceDetails.ResourceLink"
								data-id2="@item.ResourceDetails.ResourceDocument"
								@(openDocumentLink ?"data-id3=OpenLink":"data-id3=\"\"")>
							<span class="resources__slide-title big_truncate_title_sec">@item.ResourceDetails.ResourceTitle</span>
						</button>
						<a href="@item.ResourceUrl"><p class="resources__slide-desc big_truncate_desc_sec">@Html.Raw(item.ResourceDetails.ResourceSummary)</p></a>
					</div>
					<div class="resources__slide-footer">
						@if (item.IsUserAuthorized)
						{
							<div class="resources__slide-btn single-post-add" id="@string.Format("{0}_{1}", "addToMyHandBook", item.Id.ToString())">
								<div id="addToMyHandBook">
									@if (item.IsResourceAddedToMyHandBook == true)
									{
										<span class='resources--plus anticon anticon-check'></span><span>Added to My A-RIT</span>
									}
									else
									{
										<button type="button" class="addToMyHandBook resources__slide-btn" data-id="@item.Id.ToString()"><span class="resources--plus anticon anticon-plus"></span> Add to My A-RIT </button>
									}
								</div>
							</div>
						}
						<div class="resources-single__left_post_comment_header_right">
							@if (openDocumentLink)
							{
								<a href="@item.ResourceUrl" class="single-post-comments"><i class="material-icons">chat_bubble_outline</i><span>@item.CommentsAmount Comments</span></a>
							}

							<div class="single-post-statistic">
								<button type="button" id="@string.Format("{0}_{1}","resourceLikesBtn", item.Id.ToString())"
										class="addLike anticon anticon-like-o @(item.Likes.IsResourceLiked?"clicked-like":"" )" 
										data-id="@item.Id.ToString()" data-id1="@item.Likes.Likes"
										data-id2="@(item.Likes.IsResourceLiked? "liked" : "not_liked")"
										data-id3="@(item.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
										@(!item.IsUserAuthorized? "disabled":"")>
									<span class="resources--like" id="@string.Format("{0}_{1}", "resourceLikes" , item.Id.ToString())">
										<span>@item.Likes.Likes</span>
									</span>
								</button>


								<button type="button" id="@string.Format("{0}_{1}","resourceDisLikesBtn", item.Id.ToString())"
										class="addDislike anticon anticon-dislike-o @(item.Likes.IsResourceDisliked? "clicked-dislike":"")" 
										data-id="@item.Id.ToString()" data-id1="@item.Likes.Dislikes"
										data-id2="@(item.Likes.IsResourceLiked? "liked" : "not_liked")"
										data-id3="@(item.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
										@(!item.IsUserAuthorized? "disabled":"")>
									<span class="resources--dislike" id="@string.Format("{0}_{1}", "resourceDislikes" , item.Id.ToString())">
										<span>@item.Likes.Dislikes</span>
									</span>
								</button>
							</div>


						</div>
					</div>
				</div>
			</div>

			if (columnCounter == 1)
			{
				columnCounter = 0;
				@Html.Raw("</section>")
			}
			else
			{
				columnCounter++;
			}
		}
		@{
			if (columnCounter != 0)
			{
				@Html.Raw("</section>")
			}
		}

	</div>
</div>
<script>

	$(document).ready(function () {

        function textTruncate(){
            /*M&MEDIA PAGE TITLE*/
            if($(window).width() > 1109) {
                $('.big_truncate_title_sec').each(function() {
                    var xFour = 39;
                    var yFour = '...';
                    if ($(this).text().length > (xFour - yFour.length)) {
                        $(this).text($(this).text().substr(0, xFour-yFour.length) + yFour);
                    }
                });
            } else {
                $('.big_truncate_title_sec').each(function() {
                    var xFour = 25;
                    var yFour = '...';
                    if ($(this).text().length > (xFour - yFour.length)) {
                        $(this).text($(this).text().substr(0, xFour-yFour.length) + yFour);
                    }
                });
            }
            /*M&MEDIA PAGE DESC*/
            if($(window).width() > 1109) {
                $('.big_truncate_desc_sec').each(function() {
                    var xFive = 126;
                    var yFive = '...';
                    if ($(this).text().length > (xFive - yFive.length)) {
                        $(this).text($(this).text().substr(0, xFive-yFive.length) + yFive);
                    }
                });
            } else {
                $('.big_truncate_desc_sec').each(function() {
                    var xFive = 56;
                    var yFive = '...';
                    if ($(this).text().length > (xFive - yFive.length)) {
                        $(this).text($(this).text().substr(0, xFive-yFive.length) + yFive);
                    }
                });
            }
        }
        $(document).ready(function () {
            textTruncate();
        });

        $(window).resize(function () {
            textTruncate();
        });
		//Add Like
		$('.addLike').click(function () {
			var likeAddAmount = 0;
			var dislikeAddAmount = 0;
			var resourceId = $(this).attr('data-id');
			$("#resourceLikesBtn_" + resourceId).prop('disabled', true);
			$("#resourceDisLikesBtn_" + resourceId).prop('disabled', true);

			var isResourceLiked = $(this).attr('data-id2');
			var isResourceDisliked = $(this).attr('data-id3');
			if (isResourceDisliked == "disliked") {
				if (isResourceLiked == "liked") {
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
				}
				else {
					likeAddAmount = 1;
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
				}
			}
			else {
				if (isResourceLiked == "liked") {
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
				}
				else {
					likeAddAmount = 1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "liked");
				}
			}

			var likesAmmount = $(this).attr('data-id1');
			var dislikesAmmount = $("#resourceDisLikesBtn_" + resourceId).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddAmount;
			var newDisLikeResult = parseInt(dislikesAmmount) + dislikeAddAmount;
			$("#resourceLikes_" + resourceId).html(newLikeResult);
			$("#resourceDislikes_" + resourceId).html(newDisLikeResult);
			likesAmmount = $(this).attr('data-id1', newLikeResult);
			dislikesAmmount = $("#resourceDisLikesBtn_" + resourceId).attr('data-id1', newDisLikeResult);

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddLike", "IAFCHBResourcesPerCategory")',
				data: { resourceId: resourceId, likeAddAmount: parseInt(likeAddAmount), dislikeAddAmount: parseInt(dislikeAddAmount) },
				dataType: "json",
				success: function (response) {
					$("#resourceLikesBtn_" + resourceId).prop('disabled', false);
					$("#resourceDisLikesBtn_" + resourceId).prop('disabled', false);
					
				}
			});
		});

		//Add Dislike
		$('.addDislike').click(function () {
			var likeAddAmount = 0;
			var dislikeAddAmount = 0;
			var resourceId = $(this).attr('data-id');
			$("#resourceLikesBtn_" + resourceId).prop('disabled', true);
			$("#resourceDisLikesBtn_" + resourceId).prop('disabled', true);
			var isResourceLiked = $(this).attr('data-id2');
			var isResourceDisliked = $(this).attr('data-id3');
			if (isResourceLiked == "liked") {
				if (isResourceDisliked == "disliked") {
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
				}
				else {
					dislikeAddAmount = 1;
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "disliked");
				}
			}
			else {
				if (isResourceDisliked == "disliked") {
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");

				}
				else {
					dislikeAddAmount = 1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "disliked");

				}
			}

			var dislikesAmmount = $(this).attr('data-id1');
			var likesAmmount = $("#resourceLikesBtn_" + resourceId).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddAmount;
			var newDisLikeResult = parseInt(dislikesAmmount) + dislikeAddAmount;
			$("#resourceLikes_" + resourceId).html(newLikeResult);
			$("#resourceDislikes_" + resourceId).html(newDisLikeResult);
			likesAmmount = $("#resourceLikesBtn_" + resourceId).attr('data-id1', newLikeResult);
			dislikesAmmount = $(this).attr('data-id1', newDisLikeResult);

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddDislike", "IAFCHBResourcesPerCategory")',
				data: { resourceId: resourceId, likeAddAmount: parseInt(likeAddAmount), dislikeAddAmount: parseInt(dislikeAddAmount) },
				dataType: "json",
				success: function (response) {
					$("#resourceLikesBtn_" + resourceId).prop('disabled', false);
					$("#resourceDisLikesBtn_" + resourceId).prop('disabled', false);
				}
			});
		});

		//Add ToMyHandBook
		$('.addToMyHandBook').click(function () {

			var resourceId = $(this).attr('data-id');
			var tag_id = "#addToMyHandBook_" + resourceId;

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddToMyHandBook", "IAFCHBResourcesPerCategory")',
				data: { resourceId: resourceId },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$(tag_id).html("<span class='resources--plus anticon anticon-check'></span>Added to My A-RIT");
					}
				}
			});
		});
	});


</script>
