@model  SitefinityWebApp.Mvc.Models.IAFCHandBookResourcesPerCatergoryModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<div class="box">
	<div class="community__head">
		<div class="community__breadcrumbs">@Model.Category.ParentCategoryTitle</div>
		<div class="community__head-title">
				<select id="UrlList" onchange="doNavigate()">
					<option value=@Model.Category.CategoryUrl>@Model.Category.CategoryTitle</option>
					@foreach (var item in Model.MoreCategories)
					{
						<option value=@item.CategoryUrl>@item.CategoryTitle</option>
					}

				</select>
				<h5 class="community__head-desc">@Model.Category.CategoryDescription</h5>
			</div>



		<div class="community__head-button-group">
		    <div class="community__head-buttons">
		        <div class="community__head-button">
				    @Model.Category.ResourcesAmount <span>Resources </span>
			    </div>
			    <div class="community__head-button">
			        @Model.Category.ResourcesTotalDuration
			    </div>
            </div>
            <div class="community__head-buttons">
                <div class="community__head-btn">

                    @{	var MostPopularUrl = Model.Category.CategoryUrl + "/MostPopular";
                        var MostRecentUrl = Model.Category.CategoryUrl + "/MostRecent";
                        var AlphabeticalAZUrl = Model.Category.CategoryUrl + "/AlphabeticalAZ";
                        var AlphabeticalZAUrl = Model.Category.CategoryUrl + "/AlphabeticalZA";
                    }

                    <select id="UrlOrderByList" onchange="doOrderByNavigate()">
                        @foreach (var orderByItem in Model.OrderBy)
                        {
                            if (orderByItem.Selected)
                            {
                                <option value=@orderByItem.Url selected>@orderByItem.Title</option>
                            }
                            else
                            {
                                <option value=@orderByItem.Url >@orderByItem.Title</option>
                            }

                        }
                    </select>
            	</div>
            	<div id="addAllToMyHandBook" class="community__head-btn">
                    <button type="button" class="addAllToMyHandBook" data-id="@Model.Category.Id.ToString()"> +Add All to MyHandBook </button>
                </div>
            	<div id="followCategory" class="community__head-btn">
                    <button type="button" class="followCategory" data-id="@Model.Category.Id.ToString()"> Follow </button>
                </div>
            </div>

		</div>
	</div>
</div>

<div id="partViewID">
	@Html.Partial("_ResourcesPerCategoryDetails", Model.Resources)
</div>

<div class="box community__topics">
	<h2 class="community__topics-title">More @Model.Category.ParentCategoryTitle Topics</h2>
		<ul class="community__topics-ul">
			@foreach (var mcItem in Model.MoreCategories)
			{
				<li >
					<a href="@mcItem.CategoryUrl">
						<img src="@mcItem.TopicCategoryImageUrl" title="@mcItem.CategoryTitle" alt="@mcItem.CategoryTitle" style="width:282px;height:188px;" />
						<p>@mcItem.CategoryTitle</p>						
							<p>
								@mcItem.CategoryDescription;
							</p>
							<p>@mcItem.ResourcesAmount Resources</p>
						
					</a>
				</li>
			}
		</ul>
</div>




<script type="text/javascript">



	$(document).ready(function () {

		//Add All ToMyHandBook
		$('.addAllToMyHandBook').on('click', function () {

			var categoryId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddAllToMyHandBook", "IAFCHBResourcesPerCategory")',
				data: { categoryId: categoryId },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$("#addAllToMyHandBook").html("Added to MyHandBook");
					}
				}
			});
		});

		//Follow
		$('.followCategory').on('click', function () {

			var categoryId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("FollowCategory", "IAFCHBResourcesPerCategory")',
				data: { categoryId: categoryId },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$("#followCategory").html("Followed");
					}
				}
			});
		});


		$('#sortByChanged').on('change', function () {

				var orderByValue = $('#sortByChanged').val();

                $.ajax({
					type: 'POST',
					cache: false,
                    url: '@Url.Action("GetOrderedResources", "IAFCHBResourcesPerCategory")',
					data: { orderBy: parseInt(orderByValue) },
                    success: function (response) {
						$("#partViewID").html(response);

                    }
                })
            });

	});


	function doNavigate() {
		window.location.href = document.getElementById("UrlList").value;
	}
	function doOrderByNavigate() {
		window.location.href = document.getElementById("UrlOrderByList").value;
	}

</script>

 