@model  SitefinityWebApp.Mvc.Models.IAFCHandBookResourcesPerCatergoryModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div class="box">
	<div class="community__head">
		<div class="community__breadcrumbs">@Model.Category.ParentCategoryTitle</div>
		<div class="community__head-title">
			<select class="community__title-select" id="UrlList" onchange="doNavigate()">
				<option value=@Model.Category.CategoryUrl>@Model.Category.CategoryTitle</option>
				@foreach (var item in Model.MoreCategories)
				{
					<option value=@item.CategoryUrl>@item.CategoryTitle</option>
				}

			</select>
			<h5 class="community__head-desc">@Model.Category.CategoryDescription</h5>
		</div>



		<div class="community__head-button-group">
			<div class="community__head-buttons">
				<div class="community__head-button">
					@Model.Category.ResourcesAmount <span>Resources </span>
				</div>
				<div class="community__head-button">
					@Model.Category.TotalDuration
				</div>				
			</div>
			<div class="community__head-buttons">
				<div class="community__head-btn-select">

					@{ var MostPopularUrl = Model.Category.CategoryUrl + "/MostPopular";
						var MostRecentUrl = Model.Category.CategoryUrl + "/MostRecent";
						var AlphabeticalAZUrl = Model.Category.CategoryUrl + "/AlphabeticalAZ";
						var AlphabeticalZAUrl = Model.Category.CategoryUrl + "/AlphabeticalZA";
					}

					<select class="community__category-select" id="UrlOrderByList" onchange="doOrderByNavigate()">
						@foreach (var orderByItem in Model.OrderBy)
						{
							if (orderByItem.Selected)
							{
								<option value=@orderByItem.Url selected>@orderByItem.Title</option>
							}
							else
							{
								<option value=@orderByItem.Url>@orderByItem.Title</option>
							}

						}
					</select>
				</div>
				<div class="community__head-btns-grp">
					@if (Model.IsUserAuthorized)
					{
						<div id="addAllToMyHandBook" class="community__head-btn">
							<button type="button" class="addAllToMyHandBook" data-id="@Model.Category.Id.ToString()"><span class="resources--plus anticon anticon-plus"></span>Add All to MyHandBook </button>
						</div>
						if (Model.IsCategoryFollowed)
						{
							<div class="community__head-btn">
								<span class='resources--plus anticon anticon-star'></span>Followed
							</div>
						}
						else
						{
							<div id="followCategory" class="community__head-btn">
								<button type="button" class="followCategory" data-id="@Model.Category.Id.ToString()"><span class="resources--plus anticon anticon-star-o"></span> Follow </button>
							</div>
						}
					}
				</div>
			</div>

		</div>
	</div>
</div>

<div id="partViewID">
	@Html.Partial("_ResourcesPerCategoryDetails", Model.Resources)
</div>

<div class="community__topics box">
	<h2 class="community__topics-title">More @Model.Category.ParentCategoryTitle Topics</h2>
	<ul class="community__topics-ul">
		@foreach (var mcItem in Model.MoreCategories)
		{
			<li class="topics__list community__topics-list">
				<a href="@mcItem.CategoryUrl" class="community__topics-link">
					@Html.Raw(mcItem.CategorySvg)
					<p class="topics__img-text community__topics-text">@mcItem.CategoryTitle</p>
					<div class="topics__img-back">
						<p class="topics__img-back-info topics_seperator">
							@mcItem.CategoryDescription
						</p>
						<p class="topics__img-back-text">@mcItem.ResourcesAmount Resources</p>
					</div>
				</a>
			</li>
		}
	</ul>
</div>

<script src="/Sitefinity/WebsiteTemplates/IAFCHandBook/App_Themes/IAFCHandBook/js/jquery.selectric.js"></script>


<script>
	$(document).ready(function () {
			bindEdit();
		});

	function bindEdit() {

		//Add All ToMyHandBook
		$('.addAllToMyHandBook').click(function () {

			var categoryId = $(this).attr('data-id');
			var orderByValue = $('#UrlOrderByList option:selected').text();

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("AddAllToMyHandBook", "IAFCHBResourcesPerCategory")',
				data: { categoryId: categoryId, orderBy: orderByValue},
				success: function (response) {
					$("#addAllToMyHandBook").html("<span class='resources--plus anticon anticon-check'></span>Added to MyHandBook");
					$("#partViewID").html(response);
					bindEdit();
				}
			});
		});

		//Follow
		$('.followCategory').click(function () {

			var categoryId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("FollowCategory", "IAFCHBResourcesPerCategory")',
				data: { categoryId: categoryId },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$("#followCategory").html("<span class='resources--plus anticon anticon-star'></span>Followed");
					}
				}
			});
		});

		//SortBy
		$('#sortByChanged').click(function () {

			var orderByValue = $('#sortByChanged').val();

			$.ajax({
				type: 'POST',
				cache: false,
				url: '@Url.Action("GetOrderedResources", "IAFCHBResourcesPerCategory")',
				data: { orderBy: parseInt(orderByValue) },
				success: function (response) {
					$("#partViewID").html(response);
					bindEdit();
				}
			})
		});

		//Open  Resource Details
		$('.resourceLink').click(function () {
			var resourceUrl = $(this).attr("data-id");
			var resourceLinkUrl = $(this).attr('data-id1');
			var resourceDocumentUrl = $(this).attr('data-id2');

			window.location.href = resourceUrl;

			if (resourceLinkUrl != 'undefined' && resourceLinkUrl != "") {
				window.open(resourceLinkUrl);
			}
			if (resourceDocumentUrl != 'undefined' && resourceDocumentUrl != "") {
				window.open(resourceDocumentUrl);
			}
		});

	}



	function doNavigate() {
		window.location.href = document.getElementById("UrlList").value;
	}
	function doOrderByNavigate() {
		window.location.href = document.getElementById("UrlOrderByList").value;
	}


</script>

