@model  SitefinityWebApp.Mvc.Models.IAFCHandBookResourcesPerCatergoryModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<div>
	<table border="1">
		<tr>
			<th>
				<h3>@Model.Category.ParentCategoryTitle</h3>
			</th>
		</tr>
		<tr>
			<th>
				<select id="UrlList" onchange="doNavigate()">
					<option value=@Model.Category.CategoryUrl>@Model.Category.CategoryTitle</option>
					@foreach (var item in Model.MoreCategories)
					{
						<option value=@item.CategoryUrl>@item.CategoryTitle</option>
					}

				</select>

			</th>
		</tr>
		<tr>
			<th>
				<h3>@Model.Category.CategoryDescription</h3>
			</th>
		</tr>
		<tr>
			<th>
				<h3>@Model.Category.ResourcesAmount Resources  </h3>
			</th>
			<th>
				@Model.Category.ResourcesTotalDuration
			</th>
			<th>
				
				@{	var MostPopularUrl = Model.Category.CategoryUrl + "/MostPopular";
					var MostRecentUrl = Model.Category.CategoryUrl + "/MostRecent";
					var AlphabeticalAZUrl = Model.Category.CategoryUrl + "/AlphabeticalAZ";
					var AlphabeticalZAUrl = Model.Category.CategoryUrl + "/AlphabeticalZA";
				}

				<select id="UrlOrderByList" onchange="doOrderByNavigate()">
					@foreach (var orderByItem in Model.OrderBy)
					{
						if (orderByItem.Selected)
						{
							<option value=@orderByItem.Url selected>@orderByItem.Title</option>
						}
						else
						{
							<option value=@orderByItem.Url >@orderByItem.Title</option>
						}

					}
				</select>
		
			</th>
			<th>
				<div id="addAllToMyHandBook">
					<button type="button" class="addAllToMyHandBook" data-id="@Model.Category.Id.ToString()"> +Add All to MyHandBook </button>
				</div>
			</th>
			<th>
				<div id="followCategory">
					<button type="button" class="followCategory" data-id="@Model.Category.Id.ToString()"> Follow </button>
				</div>
			</th>
		</tr>
	</table>
</div>



<div id="partViewID">
	@Html.Partial("_ResourcesPerCategoryDetails", Model.Resources)
</div>

<div>
	<h2>More @Model.Category.ParentCategoryTitle Topics</h2>
	
		<ul>
			@foreach (var mcItem in Model.MoreCategories)
			{
				<li >
					<a href="@mcItem.CategoryUrl">
						<img src="@mcItem.TopicCategoryImageUrl" title="@mcItem.CategoryTitle" alt="@mcItem.CategoryTitle" style="width:100px;height:100px;" />
						<p>@mcItem.CategoryTitle</p>						
							<p>
								@mcItem.CategoryDescription;
							</p>
							<p>@mcItem.ResourcesAmount Resources</p>
						
					</a>
				</li>
			}
		</ul>
</div>




<script type="text/javascript">



	$(document).ready(function () {

		//Add All ToMyHandBook
		$('.addAllToMyHandBook').on('click', function () {

			var categoryId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				url: '@Url.Action("AddAllToMyHandBook", "IAFCHBResourcesPerCategory")',
				data: { categoryId: categoryId },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$("#addAllToMyHandBook").html("Added to MyHandBook");
					}
				}
			});
		});

		//Follow
		$('.followCategory').on('click', function () {

			var categoryId = $(this).attr('data-id');

			$.ajax({
				type: 'POST',
				url: '@Url.Action("FollowCategory", "IAFCHBResourcesPerCategory")',
				data: { categoryId: categoryId },
				dataType: "json",
				success: function (response) {
					if (response == true) {
						$("#followCategory").html("Followed");
					}
				}
			});
		});


		$('#sortByChanged').on('change', function () {

				var orderByValue = $('#sortByChanged').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetOrderedResources", "IAFCHBResourcesPerCategory")',
					data: { orderBy: parseInt(orderByValue) },
                    success: function (response) {
						$("#partViewID").html(response);

                    }
                })
            });

	});


	function doNavigate() {
		window.location.href = document.getElementById("UrlList").value;
	}
	function doOrderByNavigate() {
		window.location.href = document.getElementById("UrlOrderByList").value;
	}

</script>

 