@model  List<SitefinityWebApp.Mvc.Models.IAFCHandBookResourceModel>

@{var emptyDuration = new TimeSpan(0, 0, 0);}
@{var openDocumentLink = false;}
<div class="sfContentBlock resources">

	<h2 class="resources__title">Recently Added Resources</h2>

	<div class="resources__slider">
		@foreach (var item in Model)
		{

		openDocumentLink = ((item.ResourceDetails.ResourceDescription != null && item.ResourceDetails.ResourceDescription != String.Empty)
		|| (item.ResourceDetails.ResourceTypeName == "video"));
			<div class="resources__slide resourceLink"
				 data-id="@item.ResourceUrl"
				 data-id1="@item.ResourceDetails.ResourceLink"
				 data-id2="@item.ResourceDetails.ResourceDocument"
				 @(openDocumentLink ?"data-id3=OpenLink":"data-id3=\"\"")>
				<div class="resources__slide-img img-container-js" style="background: none; overflow: hidden">
					@if (item.ResourceDetails.ImageUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
					{
						<img src='@item.ResourceDetails.ImageUrl' alt="@item.ResourceDetails.ImageAlt" />
					}
					else
					{
						<div class="resources-placeholder">
							<div class="placehoolder-background">
								<img src="@item.ResourceDetails.ImagePlaceholderUrl" alt="@item.ResourceDetails.ImagePlaceholderAlt">
							</div>
							@if (item.ResourceDetails.ImageSvgUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
							{
								<div class="placeholder-type">
									<img src="@item.ResourceDetails.ImageSvgUrl" alt="@item.ResourceDetails.ImageSvgAlt">
								</div>
							}
						</div>
					}
					<!--<object type="image/svg+xml" data="/Sitefinity/WebsiteTemplates/IAFCHandBook/App_Themes/IAFCHandBook/images/community-multiply.svg" alt="">-->
					<div class="resources__slide-label">
						<span> @item.ResourceDetails.Category.ParentCategoryTitle </span> >
						<a class="click-cancel-js" href="@item.ResourceDetails.Category.CategoryUrl">
							<span class="click-cancel-js">@item.ResourceDetails.Category.CategoryTitle</span>
						</a>
					</div>
					@if (item.ResourceDetails.Duration != emptyDuration)
					{
						<div class="resources__slide-time">
							<div class="resources--time">&nbsp;</div>
							<span> @item.ResourceDetails.Duration</span>
						</div>
					}
				</div>
				<div class="resources__slide-info">
					<div class="resources__slide-box">
						<p class="resources__slide-article">@item.ResourceDetails.ResourceType</p>
						<div class="resources__slide-title big_truncate_title">@item.ResourceDetails.ResourceTitle</div>
						<p class="resources__slide-desc big_truncate_desc">@Html.Raw(item.ResourceDetails.ResourceSummary)</p>
					</div>

					<div class="resources__slide-footer">
						@if (item.IsUserAuthorized)
						{
							<div class="resources__slide-btn single-post-add" id="@string.Format("{0}_{1}", "addToMyHandBook", item.Id.ToString())">
								@if (item.IsResourceAddedToMyHandBook == true)
								{
									<span class='resources--plus anticon anticon-check click-cancel-js'></span><span class="click-cancel-js">Added to My A-RIT</span>
								}
								else
								{
									<button type="button" class="resources__slide-btn addToMyHandBook click-cancel-js" data-id="@item.Id.ToString()"><span class="resources--plus anticon anticon-plus click-cancel-js"></span>Add to My A-RIT</button>
								}
							</div>
						}
							<div class="resources-single__left_post_comment_header_right">
								@if (openDocumentLink)
								{
								<a class="single-post-comments click-cancel-js" href="@item.ResourceUrl">
									<i class="material-icons click-cancel-js">chat_bubble_outline</i>
									<span class="click-cancel-js">@item.CommentsAmount Comments</span>
								</a>
								}
								<div class="single-post-statistic">
									<button type="button" id="@string.Format("{0}_{1}","resourceLikesBtn", item.Id.ToString())"
											class="click-cancel-js addLike anticon anticon-like-o @(item.Likes.IsResourceLiked?"clicked-like":"" )"
											data-id="@item.Id.ToString()"  data-id1="@item.Likes.Likes"
											data-id2="@(item.Likes.IsResourceLiked? "liked" : "not_liked")"
											data-id3="@(item.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
											@(!item.IsUserAuthorized? "disabled":"")>

						
										<span class="resources--like click-cancel-js" id="@string.Format("{0}_{1}","resourceLikes", item.Id.ToString() )">
											<span class="click-cancel-js">@item.Likes.Likes</span>
										</span>
									</button>
									<button type="button" id="@string.Format("{0}_{1}","resourceDisLikesBtn", item.Id.ToString())"
											class="click-cancel-js addDislike anticon anticon-dislike-o @(item.Likes.IsResourceDisliked? "clicked-dislike":"")"
											data-id="@item.Id.ToString()" data-id1="@item.Likes.Dislikes"
											data-id2="@(item.Likes.IsResourceLiked? "liked" : "not_liked")"
											data-id3="@(item.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
											@(!item.IsUserAuthorized? "disabled":"")  >
										<span class="resources--dislike click-cancel-js" id="@string.Format("{0}_{1}","resourceDislikes", item.Id.ToString())">
											<span class="click-cancel-js">@item.Likes.Dislikes</span>
										</span>
									</button>
								</div>
							</div>
						</div>
				</div>
			</div>
		}

	</div>
</div>

<script>

    $(document).ready(function () {

        //Add Like
		$('.addLike').click(function () {			
			var likeAddAmount = 0;
			var dislikeAddAmount = 0;
			var resourceId = $(this).attr('data-id');
			$("#resourceLikesBtn_" + resourceId).prop('disabled', true);
			$("#resourceDisLikesBtn_" + resourceId).prop('disabled', true);
			var isResourceLiked = $(this).attr('data-id2');			
			var isResourceDisliked = $(this).attr('data-id3');			
			if (isResourceDisliked == "disliked") {
				if (isResourceLiked == "liked") {
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
				}
				else {
					likeAddAmount = 1;
					dislikeAddAmount = -1;					
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
				}								
			}
			else {
				if (isResourceLiked == "liked") {
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
				}
				else {
					likeAddAmount = 1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "liked");
				}				
			}

			var likesAmmount = $(this).attr('data-id1');
			var dislikesAmmount = $("#resourceDisLikesBtn_" + resourceId).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddAmount;
			var newDisLikeResult = parseInt(dislikesAmmount) + dislikeAddAmount;
			$("#resourceLikes_" + resourceId).html(newLikeResult);
			$("#resourceDislikes_" + resourceId).html(newDisLikeResult );
			likesAmmount = $(this).attr('data-id1', newLikeResult);
			dislikesAmmount = $("#resourceDisLikesBtn_" + resourceId).attr('data-id1', newDisLikeResult );
			
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddLike", "IAFCHBRecentlyAddedResources")',
				data: { resourceId: resourceId, likeAddAmount: parseInt(likeAddAmount), dislikeAddAmount: parseInt(dislikeAddAmount)  },
				dataType: "json",
				success: function (response) {
					$("#resourceLikesBtn_" + resourceId).prop('disabled', false);
					$("#resourceDisLikesBtn_" + resourceId).prop('disabled', false);
				}                             
            });
        });

        //Add Dislike
		$('.addDislike').click(function () {
			var likeAddAmount = 0;
			var dislikeAddAmount = 0;
			var resourceId = $(this).attr('data-id');
			$("#resourceLikesBtn_" + resourceId).prop('disabled', true);
			$("#resourceDisLikesBtn_" + resourceId).prop('disabled', true);
			var isResourceLiked = $(this).attr('data-id2');
			var isResourceDisliked = $(this).attr('data-id3');
			if (isResourceLiked == "liked") {
				if (isResourceDisliked == "disliked") {
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
				}
				else {
					dislikeAddAmount = 1;
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "disliked");					
				}				
			}
			else {
				if (isResourceDisliked == "disliked") {
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					
				}
				else {
					dislikeAddAmount = 1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "disliked");
				
				}			
			}

			var dislikesAmmount = $(this).attr('data-id1');
			var likesAmmount = $("#resourceLikesBtn_" + resourceId).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddAmount;
			var newDisLikeResult = parseInt(dislikesAmmount) + dislikeAddAmount;
			$("#resourceLikes_" + resourceId).html(newLikeResult);
			$("#resourceDislikes_" + resourceId).html(newDisLikeResult);
			likesAmmount = $("#resourceLikesBtn_" + resourceId).attr('data-id1', newLikeResult);
			dislikesAmmount = $(this).attr('data-id1', newDisLikeResult);
			
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddDislike", "IAFCHBRecentlyAddedResources")',
				data: { resourceId: resourceId, likeAddAmount: parseInt(likeAddAmount), dislikeAddAmount: parseInt(dislikeAddAmount) },
				dataType: "json",
				success: function (response) {
					$("#resourceLikesBtn_" + resourceId).prop('disabled', false);
					$("#resourceDisLikesBtn_" + resourceId).prop('disabled', false);
				}
            });
        });

        //Add ToMyHandBook
		$('.addToMyHandBook').click(function () {

            var resourceId = $(this).attr('data-id');

            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddToMyHandBook", "IAFCHBRecentlyAddedResources")',
                data: { resourceId },
                dataType: "json",
                success: function (response) {
                    if (response == true) {
                        $("#addToMyHandBook_" + resourceId).html("<span class='resources--plus anticon anticon-check click-cancel-js'></span>Added to My A-RIT");
                    }
                }
            });
		});

		//Open Recently Added Resource Details
        $('.resourceLink').click(function (e) {
            if ($(e.target).hasClass('click-cancel-js')) return;
            else {
                var resourceUrl = $(this).attr("data-id");
                var resourceLinkUrl = $(this).attr('data-id1');
                var resourceDocumentUrl = $(this).attr('data-id2');
                var openResourceDocumentUrl = $(this).attr('data-id3');

                if (openResourceDocumentUrl == "OpenLink") {
                    window.location.href = resourceUrl;
                }
                else if (resourceLinkUrl != 'undefined' && resourceLinkUrl != "") {
                    window.open(resourceLinkUrl);
                }
                else if (resourceDocumentUrl != 'undefined' && resourceDocumentUrl != "") {
                    window.open(resourceDocumentUrl);
                }
            }
        });

    });

</script>




