@model  List<SitefinityWebApp.Mvc.Models.IAFCHandBookResourceModel>

@{var emptyDuration = new TimeSpan(0, 0, 0);}
@{var openDocumentLink = false;}
<div class="sfContentBlock resources">

	<h2 class="resources__title">Recently Added Resources</h2>

	<div class="resources__slider">
		@foreach (var item in Model)
		{
			<div class="resources__slide">
				<div class="resources__slide-img img-container-js" style="background: none; overflow: hidden">
					@if (item.ResourceDetails.ImageUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
					{
						<img src='@item.ResourceDetails.ImageUrl' alt="@item.ResourceDetails.ImageAlt" />
					}
					else
					{
						<div class="resources-placeholder">
							<div class="placehoolder-background">
								<img src="@item.ResourceDetails.ImagePlaceholderUrl" alt="@item.ResourceDetails.ImagePlaceholderAlt">
							</div>
							@if (item.ResourceDetails.ImageSvgUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
							{
								<div class="placeholder-type">
									<img src="@item.ResourceDetails.ImageSvgUrl" alt="@item.ResourceDetails.ImageSvgAlt">
								</div>
							}
						</div>
					}
					<!--<object type="image/svg+xml" data="/Sitefinity/WebsiteTemplates/IAFCHandBook/App_Themes/IAFCHandBook/images/community-multiply.svg" alt="">-->
					<div class="resources__slide-label">
						<span> @item.ResourceDetails.Category.ParentCategoryTitle </span> >
						<a class="" href="@item.ResourceDetails.Category.CategoryUrl">
							<span>@item.ResourceDetails.Category.CategoryTitle</span>
						</a>
					</div>
					@if (item.ResourceDetails.Duration != emptyDuration)
					{
						<div class="resources__slide-time">
							<div class="resources--time">&nbsp;</div>
							<span> @item.ResourceDetails.Duration</span>
						</div>
					}
				</div>
				@{openDocumentLink = ((item.ResourceDetails.ResourceDescription != null && item.ResourceDetails.ResourceDescription != String.Empty)
							|| (item.ResourceDetails.ResourceTypeName == "video")) ;}
				<div class="resources__slide-info">
					<div class="resources__slide-box">
						<p class="resources__slide-article">@item.ResourceDetails.ResourceType</p>
						<button type="button" class="resourceLink"
								data-id="@item.ResourceUrl"
								data-id1="@item.ResourceDetails.ResourceLink"
								data-id2="@item.ResourceDetails.ResourceDocument"
								@(openDocumentLink ?"data-id3=OpenLink":"data-id3=\"\"")>
							<span class="resources__slide-title">@item.ResourceDetails.ResourceTitle</span>
						</button>
						<p class="resources__slide-desc">@Html.Raw(item.ResourceDetails.ResourceSummary)</p>
					</div>

					<div class="resources__slide-footer">
						@if (item.IsUserAuthorized)
						{
							<div class="resources__slide-btn single-post-add" id="@string.Format("{0}_{1}", "addToMyHandBook", item.Id.ToString())">
								@if (item.IsResourceAddedToMyHandBook == true)
								{
									<span class='resources--plus anticon anticon-check'></span><span>Added to MyHandBook</span>
								}
								else
								{
									<button type="button" class="resources__slide-btn addToMyHandBook" data-id="@item.Id.ToString()"><span class="resources--plus anticon anticon-plus"></span>Add to MyHandBook</button>
								}
							</div>
						}
							<div class="resources-single__left_post_comment_header_right">
								@if (openDocumentLink)
								{
								<a class="single-post-comments" href="@item.ResourceUrl">
									<i class="material-icons">chat_bubble_outline</i>
									<span>@item.CommentsAmount Comments</span>
								</a>
								}
								<div class="single-post-statistic">
									<button type="button" id="@string.Format("{0}_{1}","resourceLikesBtn", item.Id.ToString())"
											class="addLike anticon anticon-like-o" data-id="@item.Id.ToString()"  data-id1="@item.Likes.Likes"
											@((!item.IsUserAuthorized || item.Likes.IsResourceDisliked)? "disabled='disabled'" : "")>
										<span class="resources--like" id="@string.Format("{0}_{1}","resourceLikes", item.Id.ToString() )">
											<span>@item.Likes.Likes</span>
										</span>
									</button>
									<button type="button" id="@string.Format("{0}_{1}","resourceDisLikesBtn", item.Id.ToString())"
											class="addDislike anticon anticon-dislike-o" data-id="@item.Id.ToString()" data-id1="@item.Likes.Dislikes"
											@((!item.IsUserAuthorized || item.Likes.IsResourceLiked)? "disabled='disabled'" : "")>
										<span class="resources--dislike" id="@string.Format("{0}_{1}","resourceDislikes", item.Id.ToString())">
											<span>@item.Likes.Dislikes</span>
										</span>
									</button>
								</div>
							</div>
						</div>
				</div>
			</div>
		}

	</div>
</div>

<script>

    $(document).ready(function () {

        //Add Like
		$('.addLike').click(function () {
			var isAdding = true;
			var likeAddamount = 1;
			var resourceId = $(this).attr('data-id');
			var isDisLikeEnabled = $('#resourceDisLikesBtn_' + resourceId).is(':disabled');
			if (isDisLikeEnabled) {
				isAdding = false;
				likeAddamount = -1;
				$("#resourceDisLikesBtn_" + resourceId).removeAttr('disabled');
			}
			else {
				$("#resourceDisLikesBtn_" + resourceId).attr('disabled', 'disabled');
			}

			var likesAmmount = $(this).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddamount;
			$("#resourceLikes_" + resourceId).html(newLikeResult );
			likesAmmount = $(this).attr('data-id1', newLikeResult );
			
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddLike", "IAFCHBRecentlyAddedResources")',
				data: { resourceId: resourceId, isAdding: isAdding  },
				dataType: "json",
				success: function (response) {
					console.log(response)
				}                             
            });
        });

        //Add Dislike
		$('.addDislike').click(function () {
			var isAdding = true;
			var dislikeAddamount = 1;
			var resourceId = $(this).attr('data-id');
			var isLikeEnabled = $('#resourceLikesBtn_' + resourceId).is(':disabled');

			if (isLikeEnabled) {
				isAdding = false;
				var dislikeAddamount = -1;
				$("#resourceLikesBtn_" + resourceId).removeAttr('disabled');
			}
			else {
				$("#resourceLikesBtn_" + resourceId).attr('disabled', 'disabled');
			}

			var disLikesAmmount = $(this).attr('data-id1');
			var newLDilsikeResult = parseInt(disLikesAmmount) + dislikeAddamount;
			$("#resourceDislikes_" + resourceId).html(newLDilsikeResult);
			disLikesAmmount = $(this).attr('data-id1', newLDilsikeResult);
			
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddDislike", "IAFCHBRecentlyAddedResources")',
				data: { resourceId: resourceId, isAdding: isAdding  },
				dataType: "json",
				success: function (response) {
					console.log(response)
				}
            });
        });

        //Add ToMyHandBook
		$('.addToMyHandBook').click(function () {

            var resourceId = $(this).attr('data-id');

            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddToMyHandBook", "IAFCHBRecentlyAddedResources")',
                data: { resourceId },
                dataType: "json",
                success: function (response) {
                    if (response == true) {
                        $("#addToMyHandBook_" + resourceId).html("<span class='resources--plus anticon anticon-check'></span>Added to MyHandBook");
                    }
                }
            });
		});

		//Open Recently Added Resource Details
		$('.resourceLink').click(function () {
			var resourceUrl = $(this).attr("data-id");
			var resourceLinkUrl = $(this).attr('data-id1');
			var resourceDocumentUrl = $(this).attr('data-id2');
			var openResourceDocumentUrl = $(this).attr('data-id3');


			if (openResourceDocumentUrl == "OpenLink") {
				window.location.href = resourceUrl;
			}
			else if (resourceLinkUrl != 'undefined' && resourceLinkUrl != "") {
				window.open(resourceLinkUrl);
			} 
			else if (resourceDocumentUrl != 'undefined' && resourceDocumentUrl != "") {
				window.open(resourceDocumentUrl);
			}
		});

    });

</script>




