@model  List<SitefinityWebApp.Mvc.Models.IAFCHandBookResourceModel>

@{var emptyDuration = new TimeSpan(0, 0, 0);}

<div class="sfContentBlock resources">

	<h2 class="resources__title">Recently Added Resources</h2>

	<div class="resources__slider">
		@foreach (var item in Model)
		{
			<div class="resources__slide">
				<div class="resources__slide-img" style="background: none; overflow: hidden">
					@if (item.ResourceDetails.ImageUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
					{
						<img src='@item.ResourceDetails.ImageUrl' />
					}
					else
					{
						<div class="resources-placeholder">
							<div class="placehoolder-background">
								<img src="@item.ResourceDetails.ImagePlaceholderUrl">
							</div>
							@if (item.ResourceDetails.ImageSvgUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
							{
								<div class="placeholder-type">
									<img src="@item.ResourceDetails.ImageSvgUrl" alt="">
								</div>
							}
						</div>
					}
					<!--<object type="image/svg+xml" data="/Sitefinity/WebsiteTemplates/IAFCHandBook/App_Themes/IAFCHandBook/images/community-multiply.svg" alt="">-->
					<div class="resources__slide-label">
						<a href="@item.ResourceDetails.Category.ParentCategoryUrl">
							<span>
								@item.ResourceDetails.Category.ParentCategoryTitle
							</span>
						</a> >
						<a class="" href="@item.ResourceDetails.Category.CategoryUrl">
							<span>@item.ResourceDetails.Category.CategoryTitle</span>
						</a>
					</div>
					@if (item.ResourceDetails.Duration != emptyDuration)
					{
						<div class="resources__slide-time">
							<div class="resources--time">&nbsp;</div>
							<span> @item.ResourceDetails.Duration</span>
						</div>
					}
				</div>
				<div class="resources__slide-info">
					<div class="resources__slide-box">
						<p class="resources__slide-article">@item.ResourceDetails.ResourceType</p>
						<button type="button" class="resourceLink"
								data-id="@item.ResourceUrl"
								data-id1="@item.ResourceDetails.ResourceLink"
								data-id2="@item.ResourceDetails.ResourceDocument">
							<h6 class="resources__slide-title">@item.ResourceDetails.ResourceTitle</h6>
						</button>
						<p class="resources__slide-desc">@Html.Raw(item.ResourceDetails.ResourceSummary)</p>
					</div>

					<div class="resources__slide-footer">
						@if (item.IsUserAuthorized)
						{
							<div class="resources__slide-btn single-post-add" id="@string.Format("{0}_{1}", "addToMyHandBook", item.Id.ToString())">
								@if (item.IsResourceAddedToMyHandBook == true)
								{
									<span class='resources--plus anticon anticon-check'></span><span>Added to MyHandBook</span>
								}
								else
								{
									<button type="button" class="resources__slide-btn addToMyHandBook" data-id="@item.Id.ToString()"><span class="resources--plus anticon anticon-plus"></span>Add to MyHandBook</button>
								}
							</div>
						}
							<div class="resources-single__left_post_comment_header_right">
								<a class="single-post-comments" href="@item.ResourceUrl">
									<i class="material-icons">chat_bubble_outline</i>
									<span>@item.CommentsAmount Comments</span>
								</a>
								<div class="single-post-statistic">
									<button type="button" class="addLike anticon anticon-like-o" data-id="@item.Id.ToString()"  
											@(!item.IsUserAuthorized? "disabled='disabled'" : "")>
										<span class="resources--like" id="@string.Format("{0}_{1}","resourceLikes", item.Id.ToString() )">
											<span>@item.Likes.Likes</span>
										</span>
									</button>
									<button type="button" class="addDislike anticon anticon-dislike-o" data-id="@item.Id.ToString()"
											@(!item.IsUserAuthorized? "disabled='disabled'" : "")>
										<span class="resources--dislike" id="@string.Format("{0}_{1}","resourceDislikes", item.Id.ToString())">
											<span>@item.Likes.Dislikes</span>
										</span>
									</button>
								</div>
							</div>
						</div>
				</div>
			</div>
		}

	</div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        //Add Like
		$('.addLike').click(function () {

            var resourceId = $(this).attr('data-id');

            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddLike", "IAFCHBRecentlyAddedResources")',
                data: { resourceId },
                dataType: "json",
                success: function (response) {
                    $("#resourceLikes_" + resourceId).html(response);
                }
            });
        });

        //Add Dislike
		$('.addDislike').click(function () {

            var resourceId = $(this).attr('data-id');

            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddDislike", "IAFCHBRecentlyAddedResources")',
                data: { resourceId },
                dataType: "json",
                success: function (response) {
                    $("#resourceDislikes_" + resourceId).html(response);
                }
            });
        });

        //Add ToMyHandBook
		$('.addToMyHandBook').click(function () {

            var resourceId = $(this).attr('data-id');

            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddToMyHandBook", "IAFCHBRecentlyAddedResources")',
                data: { resourceId },
                dataType: "json",
                success: function (response) {
                    if (response == true) {
                        $("#addToMyHandBook_" + resourceId).html("<span class='resources--plus anticon anticon-check'></span>Added to MyHandBook");
                    }
                }
            });
		});

		//Open Recently Added Resource Details
		$('.resourceLink').click(function () {
			var resourceUrl = $(this).attr("data-id");
			var resourceLinkUrl = $(this).attr('data-id1');
			var resourceDocumentUrl = $(this).attr('data-id2');

			window.location.href = resourceUrl;

			if (resourceLinkUrl != 'undefined' && resourceLinkUrl != "") {
				window.open(resourceLinkUrl);
			}
			if (resourceDocumentUrl != 'undefined' && resourceDocumentUrl != "") {
				window.open(resourceDocumentUrl);
			}
		});

    });

</script>




