@model  List<SitefinityWebApp.Mvc.Models.IAFCHandBookResourceModel>

@{var emptyDuration = new TimeSpan(0, 0, 0);}
@{var openDocumentLink = false;}
<div class="sfContentBlock resources">

	<h2 class="resources__title">Recently Added Resources</h2>

	<div class="resources__slider">
		@foreach (var item in Model)
		{
			<div class="resources__slide">
				<div class="resources__slide-img img-container-js" style="background: none; overflow: hidden">
					@if (item.ResourceDetails.ImageUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
					{
						<img src='@item.ResourceDetails.ImageUrl' alt="@item.ResourceDetails.ImageAlt" />
					}
					else
					{
						<div class="resources-placeholder">
							<div class="placehoolder-background">
								<img src="@item.ResourceDetails.ImagePlaceholderUrl" alt="@item.ResourceDetails.ImagePlaceholderAlt">
							</div>
							@if (item.ResourceDetails.ImageSvgUrl != null && item.ResourceDetails.ImageUrl != String.Empty)
							{
								<div class="placeholder-type">
									<img src="@item.ResourceDetails.ImageSvgUrl" alt="@item.ResourceDetails.ImageSvgAlt">
								</div>
							}
						</div>
					}
					<!--<object type="image/svg+xml" data="/Sitefinity/WebsiteTemplates/IAFCHandBook/App_Themes/IAFCHandBook/images/community-multiply.svg" alt="">-->
					<div class="resources__slide-label">
						<span> @item.ResourceDetails.Category.ParentCategoryTitle </span> >
						<a class="" href="@item.ResourceDetails.Category.CategoryUrl">
							<span>@item.ResourceDetails.Category.CategoryTitle</span>
						</a>
					</div>
					@if (item.ResourceDetails.Duration != emptyDuration)
					{
						<div class="resources__slide-time">
							<div class="resources--time">&nbsp;</div>
							<span> @item.ResourceDetails.Duration</span>
						</div>
					}
				</div>
				@{openDocumentLink = ((item.ResourceDetails.ResourceDescription != null && item.ResourceDetails.ResourceDescription != String.Empty)
							|| (item.ResourceDetails.ResourceTypeName == "video")) ;}
				<div class="resources__slide-info">
					<div class="resources__slide-box">
						<p class="resources__slide-article">@item.ResourceDetails.ResourceType</p>
						<button type="button" class="resourceLink"
								data-id="@item.ResourceUrl"
								data-id1="@item.ResourceDetails.ResourceLink"
								data-id2="@item.ResourceDetails.ResourceDocument"
								@(openDocumentLink ?"data-id3=OpenLink":"data-id3=\"\"")>
							<span class="resources__slide-title big_truncate_title">@item.ResourceDetails.ResourceTitle</span>
						</button>
						<p class="resources__slide-desc big_truncate_desc">@Html.Raw(item.ResourceDetails.ResourceSummary)</p>
					</div>

					<div class="resources__slide-footer">
						@if (item.IsUserAuthorized)
						{
							<div class="resources__slide-btn single-post-add" id="@string.Format("{0}_{1}", "addToMyHandBook", item.Id.ToString())">
								@if (item.IsResourceAddedToMyHandBook == true)
								{
									<span class='resources--plus anticon anticon-check'></span><span>Added to My A-RIT</span>
								}
								else
								{
									<button type="button" class="resources__slide-btn addToMyHandBook" data-id="@item.Id.ToString()"><span class="resources--plus anticon anticon-plus"></span>Add to My A-RIT</button>
								}
							</div>
						}
							<div class="resources-single__left_post_comment_header_right">
								@if (openDocumentLink)
								{
								<a class="single-post-comments" href="@item.ResourceUrl">
									<i class="material-icons">chat_bubble_outline</i>
									<span>@item.CommentsAmount Comments</span>
								</a>
								}
								<div class="single-post-statistic">
									<button type="button" id="@string.Format("{0}_{1}","resourceLikesBtn", item.Id.ToString())"
											class="addLike anticon anticon-like-o" data-id="@item.Id.ToString()"  data-id1="@item.Likes.Likes"
											data-id2="@(item.Likes.IsResourceLiked? "liked" : "not_liked")"
											data-id3="@(item.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
											@(!item.IsUserAuthorized? "disabled":"")>

						
										<span class="resources--like" id="@string.Format("{0}_{1}","resourceLikes", item.Id.ToString() )">
											<span>@item.Likes.Likes</span>
										</span>
									</button>
									<button type="button" id="@string.Format("{0}_{1}","resourceDisLikesBtn", item.Id.ToString())"
											class="addDislike anticon anticon-dislike-o" data-id="@item.Id.ToString()" data-id1="@item.Likes.Dislikes"
											data-id2="@(item.Likes.IsResourceLiked? "liked" : "not_liked")"
											data-id3="@(item.Likes.IsResourceDisliked? "disliked" : "not_disliked")"
											@(!item.IsUserAuthorized? "disabled":"")  >
										<span class="resources--dislike" id="@string.Format("{0}_{1}","resourceDislikes", item.Id.ToString())">
											<span>@item.Likes.Dislikes</span>
										</span>
									</button>
								</div>
							</div>
						</div>
				</div>
			</div>
		}

	</div>
</div>

<script>

    $(document).ready(function () {
        function textTruncate(){
            /*MAIN PAGE TITLE*/
            if($(window).width() > 360) {
                $('.big_truncate_title').each(function () {
                    var xOne = 39;
                    var yOne = '...';
                    if ($(this).text().length > (xOne - yOne.length)) {
                        $(this).text($(this).text().substr(0, xOne - yOne.length) + yOne);
                    }
                });
            } else {
                $('.big_truncate_title').each(function () {
                    var xOne = 25;
                    var yOne = '...';
                    if ($(this).text().length > (xOne - yOne.length)) {
                        $(this).text($(this).text().substr(0, xOne - yOne.length) + yOne);
                    }
                });
                $('.big_truncate_desc').each(function() {
                    var xSecond = 71;
                    var ySecond = '...';
                    if ($(this).text().length > (xSecond - ySecond.length)) {
                        $(this).text($(this).text().substr(0, xSecond-ySecond.length) + ySecond);
                    }
                });
                $('.big_truncate_hover').each(function() {
                    var xThird = 130;
                    var yThird = '...';
                    if ($(this).text().length > (xThird - yThird.length)) {
                        $(this).text($(this).text().substr(0, xThird-yThird.length) + yThird);
                    }
                });
            }


            /*MAIN PAGE DESC*/
            if($(window).width() > 767) {
                $('.big_truncate_desc').each(function() {
                    var xTwo = 114;
                    var yTwo = '...';
                    if ($(this).text().length > (xTwo - yTwo.length)) {
                        $(this).text($(this).text().substr(0, xTwo-yTwo.length) + yTwo);
                    }
                });
            } else {
                $('.big_truncate_desc').each(function() {
                    var xTwo = 80;
                    var yTwo = '...';
                    if ($(this).text().length > (xTwo - yTwo.length)) {
                        $(this).text($(this).text().substr(0, xTwo-yTwo.length) + yTwo);
                    }
                });
            }
            /*MAIN PAGE HOVER*/
            if($(window).width() > 1109) {
                $('.big_truncate_hover').each(function() {
                    var xThree = 116;
                    var yThree = '...';
                    if ($(this).text().length > (xThree - yThree.length)) {
                        $(this).text($(this).text().substr(0, xThree-yThree.length) + yThree);
                    }
                });
            } else {
                $('.big_truncate_hover').each(function() {
                    var xThree = 155;
                    var yThree = '...';
                    if ($(this).text().length > (xThree - yThree.length)) {
                        $(this).text($(this).text().substr(0, xThree-yThree.length) + yThree);
                    }
                });
            }
        }
        $(document).ready(function () {
            textTruncate();
        });

        $(window).resize(function () {
            textTruncate();
        });

        //Add Like
		$('.addLike').click(function () {			
			var likeAddAmount = 0;
			var dislikeAddAmount = 0;
			var resourceId = $(this).attr('data-id');
			var isResourceLiked = $(this).attr('data-id2');			
			var isResourceDisliked = $(this).attr('data-id3');			
			if (isResourceDisliked == "disliked") {
				if (isResourceLiked == "liked") {
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
				}
				else {
					likeAddAmount = 1;
					dislikeAddAmount = -1;					
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
				}								
			}
			else {
				if (isResourceLiked == "liked") {
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
				}
				else {
					likeAddAmount = 1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "liked");
				}				
			}

			var likesAmmount = $(this).attr('data-id1');
			var dislikesAmmount = $("#resourceDisLikesBtn_" + resourceId).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddAmount;
			var newDisLikeResult = parseInt(dislikesAmmount) + dislikeAddAmount;
			$("#resourceLikes_" + resourceId).html(newLikeResult);
			$("#resourceDislikes_" + resourceId).html(newDisLikeResult );
			likesAmmount = $(this).attr('data-id1', newLikeResult);
			dislikesAmmount = $("#resourceDisLikesBtn_" + resourceId).attr('data-id1', newDisLikeResult );
			
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddLike", "IAFCHBRecentlyAddedResources")',
				data: { resourceId: resourceId, likeAddAmount: parseInt(likeAddAmount), dislikeAddAmount: parseInt(dislikeAddAmount)  },
				dataType: "json",
				success: function (response) {
					console.log(response)
				}                             
            });
        });

        //Add Dislike
		$('.addDislike').click(function () {
			var likeAddAmount = 0;
			var dislikeAddAmount = 0;
			var resourceId = $(this).attr('data-id');
			var isResourceLiked = $(this).attr('data-id2');
			var isResourceDisliked = $(this).attr('data-id3');
			if (isResourceLiked == "liked") {
				if (isResourceDisliked == "disliked") {
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
				}
				else {
					dislikeAddAmount = 1;
					likeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id2', "not_liked");
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "disliked");					
				}				
			}
			else {
				if (isResourceDisliked == "disliked") {
					dislikeAddAmount = -1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "not_disliked");
					
				}
				else {
					dislikeAddAmount = 1;
					$("#resourceLikesBtn_" + resourceId).attr('data-id3', "disliked");
					$("#resourceDisLikesBtn_" + resourceId).attr('data-id3', "disliked");
				
				}			
			}

			var dislikesAmmount = $(this).attr('data-id1');
			var likesAmmount = $("#resourceLikesBtn_" + resourceId).attr('data-id1');
			var newLikeResult = parseInt(likesAmmount) + likeAddAmount;
			var newDisLikeResult = parseInt(dislikesAmmount) + dislikeAddAmount;
			$("#resourceLikes_" + resourceId).html(newLikeResult);
			$("#resourceDislikes_" + resourceId).html(newDisLikeResult);
			likesAmmount = $("#resourceLikesBtn_" + resourceId).attr('data-id1', newLikeResult);
			dislikesAmmount = $(this).attr('data-id1', newDisLikeResult);
			
            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddDislike", "IAFCHBRecentlyAddedResources")',
				data: { resourceId: resourceId, likeAddAmount: parseInt(likeAddAmount), dislikeAddAmount: parseInt(dislikeAddAmount) },
				dataType: "json",
				success: function (response) {
					console.log(response)
				}
            });
        });

        //Add ToMyHandBook
		$('.addToMyHandBook').click(function () {

            var resourceId = $(this).attr('data-id');

            $.ajax({
                type: 'POST',
                cache: false,
                url: '@Url.Action("AddToMyHandBook", "IAFCHBRecentlyAddedResources")',
                data: { resourceId },
                dataType: "json",
                success: function (response) {
                    if (response == true) {
                        $("#addToMyHandBook_" + resourceId).html("<span class='resources--plus anticon anticon-check'></span>Added to My A-RIT");
                    }
                }
            });
		});

		//Open Recently Added Resource Details
		$('.resourceLink').click(function () {
			var resourceUrl = $(this).attr("data-id");
			var resourceLinkUrl = $(this).attr('data-id1');
			var resourceDocumentUrl = $(this).attr('data-id2');
			var openResourceDocumentUrl = $(this).attr('data-id3');


			if (openResourceDocumentUrl == "OpenLink") {
				window.location.href = resourceUrl;
			}
			else if (resourceLinkUrl != 'undefined' && resourceLinkUrl != "") {
				window.open(resourceLinkUrl);
			} 
			else if (resourceDocumentUrl != 'undefined' && resourceDocumentUrl != "") {
				window.open(resourceDocumentUrl);
			}
		});

    });

</script>




