@model SitefinityWebApp.Mvc.Models.IAFCHandBookMyHandBookMenuModel

<div class="header__mob">
	<div class="header__mob-nav">
		<div class="header__mob-box">
			<a href="#" class="header__mob-close anticon anticon-menu-unfold"></a>
			<div class="header__mob-form">
				<input type="search" placeholder="Search" class="header__mob-search site-search">
				<button class="header__mob-button site-search-submit" type="submit"></button>
			</div>
		</div>
		<div class="accordion__content">
			@foreach (var menuItem in Model.Menu)
			{
				if (menuItem.Visible)
				{
					<li class="accordion__item">
						<a href="@menuItem.Url" class="accordion__item-link">@menuItem.Title</a>
					</li>
					if (menuItem.ChildMenuItem.Any())
					{
						foreach (var childItem in menuItem.ChildMenuItem)
						{
							<div class="accordion__sub-item">
								<div class="accordion__sub-title">
									<div class="accordion__sub-arrow anticon anticon-down"></div>
									<span class="accordion__title-text"> @childItem.Title</span>
								</div>
								@if (childItem.ChildMenuItem.Any())
								{
									foreach (var childChildItem in childItem.ChildMenuItem)
									{
										<ul class="accordion_sub_content">
											<li> <a href="@childChildItem.Url" class=" accordion_sub-link"> @childChildItem.Title</a></li>
										</ul>
									}
								}
							</div>
						}
					}
				}
			}
		</div>
	
	</div>
	<span class="header__mob-open anticon anticon-menu-fold"></span>
</div>


<div class="header__nav">
	<ul class="header__ul">
		@foreach (var menuItem in Model.Menu)
		{
			if (menuItem.Visible)
			{
				<li class="header__list">
					<a class="header__list-link" href="@menuItem.Url"> <span>@menuItem.Title</span></a>
					@if (menuItem.ChildMenuItem.Any())
					{

						<ul class="header__sub_ul">
							@foreach (var childItem in menuItem.ChildMenuItem)
							{
								if (childItem.ChildMenuItem.Any())
								{
									<li class="header__sub_list">
										<a href="@childItem.Url" class="header__sub_list-link"> <span>@childItem.Title</span></a>

										<ul class="header__second_ul">
											@foreach (var childChildItem in childItem.ChildMenuItem)
											{
												<li class="header__second_list"><a class="header__second_list-link" href="@childChildItem.Url"> <span>@childChildItem.Title</span></a></li>
											}
										</ul>
									</li>
								}
							}
						</ul>

					}
				</li>
			}
		}
	</ul>
</div>