@model SitefinityWebApp.Mvc.Models.IAFCHandBookMyHandBookMenuModel

<div class="header__nav">
	<ul>
		@foreach (var menuItem in Model.Menu)
		{
		if (menuItem.Visible)
		{
		<li><a href="@menuItem.Url"> <span>@menuItem.Title</span></a>
			@if (menuItem.ChildMenuItem.Any())
			{

			<ul>
				@foreach (var childItem in menuItem.ChildMenuItem)
				{
				<li><a href="@childItem.Url"> <span>@childItem.Title</span></a></li>
				if (childItem.ChildMenuItem.Any())
				{
				<ul>
					@foreach (var childChildItem in childItem.ChildMenuItem)
					{
					<li><a href="@childChildItem.Url"> <span>@childChildItem.Title</span></a></li>
					}
				</ul>
				}
				}
			</ul>

			}
		</li>
		}
		}
	</ul>
</div>