@model SitefinityWebApp.Mvc.Models.IAFCHandBookMyHandBookMenuModel

<div class="header__nav">
	<ul class="header__ul">
		@foreach (var menuItem in Model.Menu)
		{
		if (menuItem.Visible)
		{
		<li class="header__list"><a class="header__list-link" href="@menuItem.Url"> <span>@menuItem.Title</span></a>
			@if (menuItem.ChildMenuItem.Any())
			{

			<ul class="header__sub_ul">
				@foreach (var childItem in menuItem.ChildMenuItem)
				{
				if (childItem.ChildMenuItem.Any())
				{
				<li class="header__sub_list"><a class="header__sub_list-link" href="@childItem.Url"> <span>@childItem.Title</span></a>

				<ul class="header__second_ul">
					@foreach (var childChildItem in childItem.ChildMenuItem)
					{
					<li class="header__second_list"><a class="header__second_list-link" href="@childChildItem.Url"> <span>@childChildItem.Title</span></a></li>
					}
				</ul>
				</li>
				}
				}
			</ul>

			}
		</li>
		}
		}
	</ul>
</div>