@model SitefinityWebApp.Mvc.Models.BlendedNewsListModel

<div id="post-list-footer" class="volupdate">
        @foreach (var result in Model.ResultSet)
        {
            <div class="spost clearfix">
             


                <div class="entryWrap">

                    <div class="entry-c">
                        <div class="entry-title">

                            <h4 class="sfitemTitle sftitle">
                                <a href="@result.Link">@result.Title</a>
                            </h4>
                        </div>
                        <div>
                            <ul class="entry-meta">
                                <li>
                                    @if (!string.IsNullOrEmpty(result.DisplayDate))
                {
                                        @result.DisplayDate
                                    }
                                    else if (result.DateField != null && result.DateField != DateTime.MinValue)
                                    {
                                        @result.DateField.ToString("MMMM d, yyyy")
                                    }
                                    else if (result.PublicationDate != null && result.PublicationDate != DateTime.MinValue)
                                    {
                                        @result.PublicationDate.ToString("MMMM d, yyyy")
                                    }
                                </li>
                            </ul>
                        </div>

                    </div>
                    </div>

                    @if (!String.IsNullOrEmpty(result.ImageUrl))
                {
                        <div class="entry-image">
                            <img src="@result.ImageUrl" alt="@HttpUtility.HtmlEncode(result.ImageCaption)" />
                        </div>
                    }
                </div>








    }
    </div>

