@model SitefinityWebApp.Mvc.Models.BlendedNewsListModel

<div>
        @foreach (var result in Model.ResultSet)
        {
           <div id="posts" class="spost clearfix" data-layout="fitRows">
    			<div class="entry clearfix">
                @if (!String.IsNullOrEmpty(result.ImageUrl))
                {
                    
                  
                    <div class="entry-image">
                        <img src="@result.ImageUrl" alt="@HttpUtility.HtmlEncode(result.ImageCaption)" style="margin-left: 10px;" class="image_fade" />
                    </div>
                }

                <div class="entry-c">
                    <div class="entry-title">
                        <h4 class="sfitemTitle sftitle">
                            <a href="@result.Link">@result.Title</a>
                        </h4>
                    </div>
                    <div class="mg-meta">
                       
                            @if (!string.IsNullOrEmpty(result.DisplayDate))
                {
                                @result.DisplayDate
                            }
                            else if (result.DateField != null && result.DateField != DateTime.MinValue)
                            {
                                @result.DateField.ToString("MMMM d, yyyy")
                            }
                            else if (result.PublicationDate != null && result.PublicationDate != DateTime.MinValue)
                            {
                                @result.PublicationDate.ToString("MMMM d, yyyy")
                            }
                        
                    </div>

                     <div style="text-align: left; margin-top:10px !important;"> 
                <a href="@result.Link" target="_blank" class="button button-3d button button-rounded button-red">Read More</a>
            		</div>
                </div>
			   </div>
            </div>

   }
    </div>

